USE [Production]
GO
/****** Object:  UserDefinedFunction [dbo].[getOvenTest]    Script Date: 2017/11/2 下午 03:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create FUNCTION [dbo].[getOvenTest](@Poid varchar(13))
RETURNS numeric(5,2)
AS
BEGIN
	declare @mother int =
	 (SELECT count(1) from 
				(select ct =count(*) 
				from dbo.orders o WITH (NOLOCK) 
				inner join  dbo.Order_Qty q WITH (NOLOCK) on q.id =o.id 
				where o.poid = @Poid
				group by q.Article ) a)			

	Declare @Rate float =0

	if (@mother = 0)
	begin
		return 0;
	end
	else
	begin
		
		DECLARE @cnt float= 
		(select cnt=round(
					convert(float,
							(select  count(1) 
							from  oven 
							where POID=@Poid))
					/convert(float,@mother),4)*100)

		select @rate= isnull(iif(@cnt>=100,100,@cnt),0)
	end	
	
	RETURN @rate
END
