/* 
=======================================================================================================================================
Author:		Benson
Description: 取得該Order所用的線材用量
=======================================================================================================================================
*/

Create function [dbo].[GetThreadUsedQtyByBOT]
(
	  @OrderID				VarChar(13)
	  ,@MachineTypeIDs		VarChar(300) =''
)
RETURNS TABLE
AS
RETURN
(
	SELECT
         sthd.SCIRefNo
	    ,sthd.ColorID
	    ,SuppColor 
	    ,stho.SeamLength
	    ,stho.Frequency
	    ,sthd.UseRatio
	    ,sthd.Allowance
	    ,stho.Segment
        ,MachineTypeUseRatio = mto.UseRatio
        ,stho.OperationHem
        ,stho.MachineTypeHem
        ,sthd.UseRatioHem
        ,stho.Tubular
        ,sthd.AllowanceTubular
	    ,sthd.Seq
	    ,sthd.Article
        ,OpThreadQty = (stho.SeamLength * stho.Frequency * iif (stho.OperationHem = 1 and stho.MachineTypeHem = 1, sthd.UseRatioHem, isnull(sthd.UseRatio, mto.UseRatio)) ) + (iif(stho.Tubular = 1, sthd.AllowanceTubular, sthd.Allowance) * stho.Segment)
	FROM  Orders o
	INNER JOIN PO p ON o.POID = p.ID
	INNER JOIN Style_ThreadColorCombo_History sth ON sth.StyleUkey=o.StyleUkey AND sth.Version=p.ThreadVersion
	INNER JOIN Style_ThreadColorCombo_History_Operation stho ON stho.Style_ThreadColorCombo_HistoryUkey=sth.Ukey
	outer apply (
		SELECT DISTINCT
				  a.Seq
				, a.SCIRefNo
				, a.SuppColor
				, a.Article
				, a.ColorID
				, a.UseRatio
				, a.Allowance
                , a.UseRatioHem
                ,a.AllowanceTubular
		FROM Style_ThreadColorCombo_History_Detail a
		WHERE a.Style_ThreadColorCombo_HistoryUkey = sth.Ukey
	) sthd
    LEFT JOIN MachineType_ThreadRatio mto on mto.ID = sth.MachineTypeID and mto.SEQ = sthd.Seq
	where o.ID = @OrderID
	AND (sth.MachineTypeID IN 
			(	
				SELECT Data
				FROM dbo.SplitString(@MachineTypeIDs, ',')
			)
		OR @MachineTypeIDs='')
		
)