*.suo
Sci.Production.Tools/*.aps
Sci.Production.Tools/*.eto
Sci.Production.Tools/*.user
Sci.Production.Tools/ClientBin
Sci.Production.Tools/GeneratedArtifacts
Sci.Production.Tools/[Bb]in
Sci.Production.Tools/[Dd]ebug
Sci.Production.Tools/[Rr]elease
Sci.Production.Tools/_Pvt_Extensions
Sci.Production.Tools/obj
Sci.Production/bin
Sci.Production/obj
Sci.Production.Basic/bin
Sci.Production.Basic/obj
Sci.Production.Class/bin
Sci.Production.Class/obj
Sci.Production.Cutting/bin
Sci.Production.Cutting/obj
Sci.Production.IE/bin
Sci.Production.IE/obj
Sci.Production.Logistic/bin
Sci.Production.Logistic/obj
Sci.Production.Packing/bin
Sci.Production.Packing/obj
Sci.Production.Planning/bin
Sci.Production.Planning/obj
Sci.Production.PPIC/bin
Sci.Production.PPIC/obj
Sci.Production.PublicForm/bin
Sci.Production.PublicForm/obj
Sci.Production.PublicPrg/bin
Sci.Production.PublicPrg/obj
Sci.Production.Quality/bin
Sci.Production.Quality/obj
Sci.Production.Sewing/bin
Sci.Production.Sewing/obj
Sci.Production.Shipping/bin
Sci.Production.Shipping/obj
Sci.Production.Subcon/bin
Sci.Production.Subcon/obj
Sci.Production.Thread/bin
Sci.Production.Thread/obj
Sci.Production.Tools/bin
Sci.Production.Tools/obj
Sci.Production.Warehouse/bin
Sci.Production.Warehouse/obj
Sci.Production.Centralized/bin
Sci.Production.Centralized/obj
Sci.Production.SubProcess/bin
Sci.Production.SubProcess/obj
Database/ProductionDB.dbmdl
Database/bin/Debug/
Database/obj/Debug/
Production.Daily/bin/
Production.Daily/obj/
*.user
