*.suo
Sci.Production.Tools/*.aps
Sci.Production.Tools/*.eto
Sci.Production.Tools/*.user
Sci.Production.Tools/ClientBin
Sci.Production.Tools/GeneratedArtifacts
Sci.Production.Tools/[Bb]in
Sci.Production.Tools/[Dd]ebug
Sci.Production.Tools/[Rr]elease
Sci.Production.Tools/_Pvt_Extensions
Sci.Production.Tools/obj
Sci.Production/bin
Sci.Production/obj
Sci.Production.Automation/bin
Sci.Production.Automation/obj
Sci.Production.Basic/bin
Sci.Production.Basic/obj
Sci.Production.Class/bin
Sci.Production.Class/obj
Sci.Production.Cutting/bin
Sci.Production.Cutting/obj
Sci.Production.IE/bin
Sci.Production.IE/obj
Sci.Production.Logistic/bin
Sci.Production.Logistic/obj
Sci.Production.Packing/bin
Sci.Production.Packing/obj
Sci.Production.Planning/bin
Sci.Production.Planning/obj
Sci.Production.PPIC/bin
Sci.Production.PPIC/obj
Sci.Production.PublicForm/bin
Sci.Production.PublicForm/obj
Sci.Production.PublicPrg/bin
Sci.Production.PublicPrg/obj
Sci.Production.Quality/bin
Sci.Production.Quality/obj
Sci.Production.Sewing/bin
Sci.Production.Sewing/obj
Sci.Production.Shipping/bin
Sci.Production.Shipping/obj
Sci.Production.Subcon/bin
Sci.Production.Subcon/obj
Sci.Production.Thread/bin
Sci.Production.Thread/obj
Sci.Production.Tools/bin
Sci.Production.Tools/obj
Sci.Production.Warehouse/bin
Sci.Production.Warehouse/obj
Sci.Production.Centralized/bin
Sci.Production.Centralized/obj
Sci.Production.SubProcess/bin
Sci.Production.SubProcess/obj
.vs/Supercharger
.vs/Production/v16
.vs/Production/v15
ImportSewingDailyOutput.Daily/.vs/ImportSewingDailyOutput.Daily/v15
Database/.vs
Database/ProductionDB.dbmdl
Database/bin/Debug/
Database/obj/Debug/
Powerbi/Powerbi.dbmdl
Powerbi/bin/Debug/
Powerbi/obj/Debug/
Production.Daily/bin/
Production.Daily/obj/
Sci.Production.SubProcess/bin/
Sci.Production.SubProcess/obj/
RFID/RFID Monitor Board/RFID Monitor Board/bin
RFID/RFID Monitor Board/RFID Monitor Board/obj
RFID/RFID_Monitor_Board_Setup/RFID_Monitor_Board_Setup/bin
RFID/RFID_Monitor_Board_Setup/RFID_Monitor_Board_Setup/obj
RFID/RFIDmiddleware/RFIDmiddleware/bin
RFID/RFIDmiddleware/RFIDmiddleware/obj
*.user
PMSUploadDataToAPS.Daily/obj
PMSUploadDataToAPS.Daily/bin
PMSUploadDataToAPS.Daily/obj/Debug/PMSUploadDataToAPS.Daily.csprojResolveAssemblyReference.cache
PMSUploadDataToAPS.Daily/obj/Debug/PMSUploadDataToAPS.Daily.csproj.GenerateResource.Cache
PMSUploadDataToAPS.Daily/obj/Debug/PMSUploadDataToAPS.Daily.csproj.FileListAbsolute.txt
PMSUploadDataToAPS.Daily/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
PMSUploadDataToAPS.Daily/obj/Debug/DesignTimeResolveAssemblyReferences.cache
PMSUploadDataToAPS.Daily/bin/Debug/en/Ict.resources.dll
PMSUploadDataToAPS.Daily/bin/Debug/en/Ict.Win.resources.dll
PMSUploadDataToAPS.Daily/bin/Debug/en/Ict.Win.UI.resources.dll
PMSUploadDataToAPS.Daily/bin/Debug/en/Ict.Win.App.resources.dll
PMSUploadDataToAPS.Daily/bin/Debug/Sci.xml
PMSUploadDataToAPS.Daily/bin/Debug/Sci.pdb
PMSUploadDataToAPS.Daily/bin/Debug/Sci.dll
PMSUploadDataToAPS.Daily/bin/Debug/Sci.Proj.xml
PMSUploadDataToAPS.Daily/bin/Debug/Sci.Proj.pdb
PMSUploadDataToAPS.Daily/bin/Debug/Sci.Proj.dll
PMSUploadDataToAPS.Daily/bin/Debug/Ict.dll
PMSUploadDataToAPS.Daily/bin/Debug/Ict.Win.dll
PMSUploadDataToAPS.Daily/bin/Debug/Ict.Win.UI.dll
PMSUploadDataToAPS.Daily/bin/Debug/Ict.Win.App.dll
SNPAutoTransferToSewingOutput.Daily/bin/Debug/
SNPAutoTransferToSewingOutput.Daily/obj/
obj/Debug
ImportSewingDailyOutput.Daily/ImportSewingDailyOutput.Daily/bin
ImportSewingDailyOutput.Daily/ImportSewingDailyOutput.Daily/obj
ImportSewingLineSchedule.Daily/.vs/
ImportSewingLineSchedule.Daily/ImportSewingLineSchedule.Daily/bin/
ImportSewingLineSchedule.Daily/ImportSewingLineSchedule.Daily/obj/
MarkerFile.Hourly/bin/Debug
MarkerFile.Hourly/bin/obj
MarkerFile.Hourly/obj/
.vs/Production.Daily/v16/Server/sqlite3/storage.ide-wal
.vs/Production.Daily/v16/Server/sqlite3/storage.ide-shm
.vs/Production.Daily/v16/Server/sqlite3/db.lock
.vs/Production.Daily/v16/Server/sqlite3/storage.ide
ProductionTPE/obj/
ProductionTPE/bin/
ProductionTPE/ProductionTPE.jfm
Powerbi/Powerbi.jfm
Database/ProductionDB.jfm
Production.Daily/.vs/Production.Daily/v16/Server/sqlite3/db.lock
Production.Daily/.vs/Production.Daily/v16/Server/sqlite3/storage.ide
ProductionTPE/ProductionTPE.dbmdl
PowerBI.Daily/bin/
PowerBI.Daily/obj/
PMSUploadDataToAPS.Daily/.vs/
PowerBI.Daily/.vs/PowerBI.Daily/v16/Server/sqlite3/storage.ide
SNPAutoTransferToSewingOutput.Daily/.vs/
Sci.Production.PPIC/.vs/Sci.Production.PPIC/v16/
PowerBI.Daily/.vs/PowerBI.Daily/v16/
.project
PMS_AdidasEfficiencyReport/.vs/PMS_AdidasEfficiencyReport/v15/
PMS_AdidasEfficiencyReport/PMS_AdidasEfficiencyReport/bin/
PMS_AdidasEfficiencyReport/PMS_AdidasEfficiencyReport/obj/
Sci.Production.PlacementVendor/bin/
Sci.Production.PlacementVendor/obj/
/PMS_ProductionKitsConfirm/PMS_ProductionKitsConfirm/bin
/PMS_ProductionKitsConfirm/PMS_ProductionKitsConfirm/obj
/PMS_ProductionKitsConfirm/.vs
