* text=auto !eol
/Production.sln -text
Sci.Production.Basic/B01.Designer.cs -text
Sci.Production.Basic/B01.cs -text
Sci.Production.Basic/B01.resx -text
Sci.Production.Basic/B01_CapacityWorkDay.Designer.cs -text
Sci.Production.Basic/B01_CapacityWorkDay.cs -text
Sci.Production.Basic/B01_CapacityWorkDay.resx -text
Sci.Production.Basic/B03.Designer.cs -text
Sci.Production.Basic/B03.cs -text
Sci.Production.Basic/B03.resx -text
Sci.Production.Basic/B07.Designer.cs -text
Sci.Production.Basic/B07.cs -text
Sci.Production.Basic/B07.resx -text
Sci.Production.Basic/B08.Designer.cs -text
Sci.Production.Basic/B08.cs -text
Sci.Production.Basic/B08.resx -text
Sci.Production.Basic/B08_ProductionFabricType.Designer.cs -text
Sci.Production.Basic/B08_ProductionFabricType.cs -text
Sci.Production.Basic/B08_ProductionFabricType.resx -text
Sci.Production.Basic/B09.Designer.cs -text
Sci.Production.Basic/B09.cs -text
Sci.Production.Basic/B09.resx -text
Sci.Production.Basic/B10.Designer.cs -text
Sci.Production.Basic/B10.cs -text
Sci.Production.Basic/B10.resx -text
Sci.Production.Basic/B11.Designer.cs -text
Sci.Production.Basic/B11.cs -text
Sci.Production.Basic/B11.resx -text
Sci.Production.Basic/B11_ShippingMark.Designer.cs -text
Sci.Production.Basic/B11_ShippingMark.cs -text
Sci.Production.Basic/B11_ShippingMark.resx -text
Sci.Production.Basic/B12.Designer.cs -text
Sci.Production.Basic/B12.cs -text
Sci.Production.Basic/B12.resx -text
Sci.Production.Basic/B13.Designer.cs -text
Sci.Production.Basic/B13.cs -text
Sci.Production.Basic/B13.resx -text
Sci.Production.Basic/B14.Designer.cs -text
Sci.Production.Basic/B14.cs -text
Sci.Production.Basic/B14.resx -text
Sci.Production.Basic/B14_Machine.Designer.cs -text
Sci.Production.Basic/B14_Machine.cs -text
Sci.Production.Basic/B14_Machine.resx -text
Sci.Production.Basic/B15.Designer.cs -text
Sci.Production.Basic/B15.cs -text
Sci.Production.Basic/B15.resx -text
Sci.Production.Basic/B16.Designer.cs -text
Sci.Production.Basic/B16.cs -text
Sci.Production.Basic/B16.resx -text
Sci.Production.Basic/Properties/AssemblyInfo.cs -text
Sci.Production.Basic/Properties/Resources.Designer.cs -text
Sci.Production.Basic/Properties/Resources.resx -text
Sci.Production.Basic/Resources/Carton.bmp -text
Sci.Production.Basic/Sci.Production.Basic.csproj -text
Sci.Production.Class/Properties/AssemblyInfo.cs -text
Sci.Production.Class/Sci.Production.Class.csproj -text
Sci.Production.Class/txtartworktype_fty.Designer.cs -text
Sci.Production.Class/txtartworktype_fty.cs -text
Sci.Production.Class/txtbrand.Designer.cs -text
Sci.Production.Class/txtbrand.cs -text
Sci.Production.Class/txtbuyer.Designer.cs -text
Sci.Production.Class/txtbuyer.cs -text
Sci.Production.Class/txtcdcode.Designer.cs -text
Sci.Production.Class/txtcdcode.cs -text
Sci.Production.Class/txtcell.Designer.cs -text
Sci.Production.Class/txtcell.cs -text
Sci.Production.Class/txtcountry.Designer.cs -text
Sci.Production.Class/txtcountry.cs -text
Sci.Production.Class/txtcountry.resx -text
Sci.Production.Class/txtcurrency.Designer.cs -text
Sci.Production.Class/txtcurrency.cs -text
Sci.Production.Class/txtcustcd.Designer.cs -text
Sci.Production.Class/txtcustcd.cs -text
Sci.Production.Class/txtdepartment.Designer.cs -text
Sci.Production.Class/txtdepartment.cs -text
Sci.Production.Class/txtdropdownlist.Designer.cs -text
Sci.Production.Class/txtdropdownlist.cs -text
Sci.Production.Class/txtfactory.Designer.cs -text
Sci.Production.Class/txtfactory.cs -text
Sci.Production.Class/txtlocalitem.Designer.cs -text
Sci.Production.Class/txtlocalitem.cs -text
Sci.Production.Class/txtpayterm_fty.Designer.cs -text
Sci.Production.Class/txtpayterm_fty.cs -text
Sci.Production.Class/txtpayterm_fty.resx -text
Sci.Production.Class/txtpaytermar.Designer.cs -text
Sci.Production.Class/txtpaytermar.cs -text
Sci.Production.Class/txtpaytermar.resx -text
Sci.Production.Class/txtprogram.Designer.cs -text
Sci.Production.Class/txtprogram.cs -text
Sci.Production.Class/txtseason.Designer.cs -text
Sci.Production.Class/txtseason.cs -text
Sci.Production.Class/txtsewingline.Designer.cs -text
Sci.Production.Class/txtsewingline.cs -text
Sci.Production.Class/txtshipmode.Designer.cs -text
Sci.Production.Class/txtshipmode.cs -text
Sci.Production.Class/txtshipterm.Designer.cs -text
Sci.Production.Class/txtshipterm.cs -text
Sci.Production.Class/txtstyle.Designer.cs -text
Sci.Production.Class/txtstyle.cs -text
Sci.Production.Class/txtsubcon.Designer.cs -text
Sci.Production.Class/txtsubcon.cs -text
Sci.Production.Class/txtsubcon.resx -text
Sci.Production.Class/txtsubprocess.Designer.cs -text
Sci.Production.Class/txtsubprocess.cs -text
Sci.Production.Class/txtsupplier.Designer.cs -text
Sci.Production.Class/txtsupplier.cs -text
Sci.Production.Class/txtsupplier.resx -text
Sci.Production.Class/txttpeuser.Designer.cs -text
Sci.Production.Class/txttpeuser.cs -text
Sci.Production.Class/txttpeuser.resx -text
Sci.Production.Class/txtunit.Designer.cs -text
Sci.Production.Class/txtunit.cs -text
Sci.Production.Class/txtunit.resx -text
Sci.Production.Class/txtunit_fty.Designer.cs -text
Sci.Production.Class/txtunit_fty.cs -text
Sci.Production.Class/txtuser.Designer.cs -text
Sci.Production.Class/txtuser.cs -text
Sci.Production.Class/txtuser.resx -text
Sci.Production.Class/txtwhseReason.Designer.cs -text
Sci.Production.Class/txtwhseReason.cs -text
Sci.Production.Class/txtwhseReason.resx -text
Sci.Production.Class/txtwhseRefundAction.Designer.cs -text
Sci.Production.Class/txtwhseRefundAction.cs -text
Sci.Production.Class/txtwhseRefundAction.resx -text
Sci.Production/Program.cs -text
Sci.Production/Properties/AssemblyInfo.cs -text
Sci.Production/Properties/Resources.Designer.cs -text
Sci.Production/Properties/Resources.resx -text
Sci.Production/Resources/001_jpg.jpg -text
Sci.Production/SCHEMAS.Designer.cs -text
Sci.Production/SCHEMAS.xsc -text
Sci.Production/SCHEMAS.xsd -text
Sci.Production/SCHEMAS.xss -text
Sci.Production/Sci.Production.csproj -text
Sci.Production/Win/Login.Designer.cs -text
Sci.Production/Win/Login.cs -text
Sci.Production/Win/Login.resx -text
Sci.Production/Win/Main.Designer.cs -text
Sci.Production/Win/Main.cs -text
Sci.Production/Win/Main.resx -text
Sci.Production/Win/ProjUtils.cs -text
Sci.Production/Win/SUBBASE.Designer.cs -text
Sci.Production/Win/SUBBASE.cs -text
Sci.Production/Win/SUBBASE.resx -text
Sci.Production/app.config -text
_Dll/Ict.Win.App.dll -text
_Dll/Ict.Win.Report2010.dll -text
_Dll/Ict.Win.UI.dll -text
_Dll/Ict.Win.dll -text
_Dll/Ict.dll -text
_Dll/Microsoft.ReportViewer.Common.dll -text
_Dll/Microsoft.ReportViewer.ProcessingObjectModel.dll -text
_Dll/Microsoft.ReportViewer.WinForms.dll -text
_Dll/Sci.Proj.dll -text
_Dll/Sci.dll -text
_Dll/en/Ict.Win.App.resources.dll -text
_Dll/en/Ict.Win.Report2010.resources.dll -text
_Dll/en/Ict.Win.UI.resources.dll -text
_Dll/en/Ict.Win.resources.dll -text
_Dll/en/Ict.resources.dll -text
_Dll/log4net.dll -text
