<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="sci" type="Sci.CfgSection, Sci"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="InstallProgram.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>

  <sci>
    <modules>
      <add name="bin">
        <connectionStrings>
          <add name="PMSDB_PH1" connectionString="Data Source=PMSDB\PH1;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="PMSDB_PH2" connectionString="Data Source=PMSDB\PH2;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="PMSDB_ESP" connectionString="Data Source=PMSDB\ESP;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="PMSDB_SPT" connectionString="Data Source=PMSDB\SPT;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="PMSDB_SPS" connectionString="Data Source=PMSDB\SPS;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="PMSDB_SPR" connectionString="Data Source=PMSDB\SPR;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="PMSDB_HZG" connectionString="Data Source=PMSDB\HZG;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="PMSDB_HXG" connectionString="Data Source=PMSDB\HXG;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="PMSDB_SNP" connectionString="Data Source=PMSDB\SNP;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="PMSDB_TSR" connectionString="Data Source=tradedb\TSR;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="MIS" connectionString="Data Source=EDIAP\EDI;Initial Catalog=IssueTracking;Persist Security Info=True;User ID=GasaSA;Password=1qaz@WSX"/>
          <add name="Trade" connectionString="Data Source=tradedb;Initial Catalog=Trade;Persist Security Info=True;User ID=scimis;Password=27128299" />
        </connectionStrings>
      </add>
      <add name="TSR_Formal">
        <connectionStrings>
          <add name="PMSDB_PH1" connectionString="Data Source=PMSDB\PH1;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="PMSDB_PH2" connectionString="Data Source=PMSDB\PH2;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="PMSDB_ESP" connectionString="Data Source=PMSDB\ESP;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="PMSDB_SPT" connectionString="Data Source=PMSDB\SPT;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="PMSDB_SPS" connectionString="Data Source=PMSDB\SPS;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="PMSDB_SPR" connectionString="Data Source=PMSDB\SPR;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="PMSDB_HZG" connectionString="Data Source=PMSDB\HZG;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="PMSDB_HXG" connectionString="Data Source=PMSDB\HXG;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="PMSDB_SNP" connectionString="Data Source=PMSDB\SNP;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="PMSDB_TSR" connectionString="Data Source=tradedb\TSR;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="MIS" connectionString="Data Source=EDIAP\EDI;Initial Catalog=IssueTracking;Persist Security Info=True;User ID=GasaSA;Password=1qaz@WSX"/>
          <add name="Trade" connectionString="Data Source=tradedb;Initial Catalog=Trade;Persist Security Info=True;User ID=scimis;Password=27128299" />
        </connectionStrings>
      </add>
    </modules>
  </sci>
  <appSettings>
    <add key="module" value="PMSDB_TSR" />
    <add key="fontname" value="Tahoma" />
    <add key="fontsize" value="10" />
    <add key="clipdir" value="D:\CLIP" />
    <add key="reporttempdir" value=".\TMP\" />
    <add key="xltpathdir" value=".\XLT\" />
    <add key="FactoryList" value="PH1;PH2;ESP;SNP;SPT;SPS;SPR:HXG;HZG;TSR;" />
    <add key="SettingFactoryList" value="PMSDB_PH1;PMSDB_PH2;PMSDB_ESP;PMSDB_SNP;PMSDB_SPT;PMSDB_SPS;PMSDB_SPR;PMSDB_HXG;PMSDB_HZG;PMSDB_TSR;" />
    
    <!--<add key="MailList" value="lins.lin@sprintavn.com;roy@esprintavn.com;rae.chen@sportscity.com.kh;kinfy@sportscity.com.kh;sid@sportscity.com.cn;nancy.qian@sportscity.com.cn;bruce.sang@sportscity.com.ph;ally.peng@sportscity.com.ph;ethan.lin@sportscity.com.vn;belen.hung@sportscity.com.kh;nash.lee@sportscity.com.kh;tina@esprintavn.com;william.ho@esprintavn.com;kelly.chien@sportscity.com.ph;Planning@sportscity.com.tw;debby@sportscity.com.tw;"/>-->
    <add key="MailList" value="willy.weig@sportscity.com.tw;"/>
    <add key="MailListCC" value="willy.weig@sportscity.com.tw;"/>
    
    <!--若設定true  : 會寄給MailList_ForTest的收件者-->
    <!--若設定false : 會寄給MailList的收件者-->
    <add key="IsTest" value="true"/>
    <add key="MailList_ForTest" value="willy.weig@sportscity.com.tw;"/>
  </appSettings>
</configuration>