<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="sci" type="Sci.CfgSection, Sci" />
  </configSections>
  <sci>
    <modules>
      <add name="bin">
        <connectionStrings>
          <add name="Production" connectionString="Data Source=tradedb\ph1;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="Machine" connectionString="Data Source=tradedb\ph1;Initial Catalog=Machine;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="Finance" connectionString="Data Source=tradedb\ph1;Initial Catalog=FinanceEN;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="ProductionTPE" connectionString="Data Source=tradedb;Initial Catalog=ProductionTPE;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="Trade" connectionString="Data Source=tradedb;Initial Catalog=Trade;Persist Security Info=True;User ID=scimis;Password=27128299" />
        </connectionStrings>
      </add>
      <add name="x86">
        <connectionStrings>
          <add name="Production" connectionString="Data Source=tradedb\ph1;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="Machine" connectionString="Data Source=tradedb\ph1;Initial Catalog=Machine;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="Finance" connectionString="Data Source=tradedb\ph1;Initial Catalog=FinanceEN;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="ProductionTPE" connectionString="Data Source=tradedb;Initial Catalog=ProductionTPE;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="Trade" connectionString="Data Source=tradedb;Initial Catalog=Trade;Persist Security Info=True;User ID=scimis;Password=27128299" />
        </connectionStrings>
      </add>
      <add name="PH1_Formal">
        <connectionStrings>
          <add name="Production" connectionString="Data Source=PHL-NEWPMS.sportscity.local;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="Machine" connectionString="Data Source=PHL-NEWPMS.sportscity.local;Initial Catalog=Machine;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="Finance" connectionString="Data Source=PHL-NEWPMS.sportscity.local;Initial Catalog=FinanceEN;Persist Security Info=True;User ID=scimis;Password=27128299" />
        </connectionStrings>
      </add>
      <add name="PH2_Formal">
        <connectionStrings>
          <add name="Production" connectionString="Data Source=VT1-PH2-PMS2.vertex.local;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="Machine" connectionString="Data Source=VT1-PH2-PMS2.vertex.local;Initial Catalog=Machine;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="Finance" connectionString="Data Source=VT1-PH2-PMS2.vertex.local;Initial Catalog=FinanceEN;Persist Security Info=True;User ID=scimis;Password=27128299" />
        </connectionStrings>
      </add>
      <add name="ESP_Formal">
        <connectionStrings>
          <add name="Production" connectionString="Data Source=system2016.esprintavn.com;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="Machine" connectionString="Data Source=system2016.esprintavn.com;Initial Catalog=Machine;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="Finance" connectionString="Data Source=system2016.esprintavn.com;Initial Catalog=FinanceEN;Persist Security Info=True;User ID=scimis;Password=27128299" />
        </connectionStrings>
      </add>
      <add name="SPT_Formal">
        <connectionStrings>
          <add name="Production" connectionString="Data Source=SYSTEM2016.sprinta.com;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="Machine" connectionString="Data Source=SYSTEM2016.sprinta.com;Initial Catalog=Machine;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="Finance" connectionString="Data Source=SYSTEM2016.sprinta.com;Initial Catalog=FinanceEN;Persist Security Info=True;User ID=scimis;Password=27128299" />
        </connectionStrings>
      </add>
      <add name="SPS_Formal">
        <connectionStrings>
          <add name="Production" connectionString="Data Source=SPS-SQL.spscd.com;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="Machine" connectionString="Data Source=SPS-SQL.spscd.com;Initial Catalog=Machine;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="Finance" connectionString="Data Source=SPS-SQL.spscd.com;Initial Catalog=FinanceEN;Persist Security Info=True;User ID=scimis;Password=27128299" />
        </connectionStrings>
      </add>
      <add name="SPR_Formal">
        <connectionStrings>
          <add name="Production" connectionString="Data Source=PMS-SXR;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="Machine" connectionString="Data Source=PMS-SXR;Initial Catalog=Machine;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="Finance" connectionString="Data Source=PMS-SXR;Initial Catalog=FinanceEN;Persist Security Info=True;User ID=scimis;Password=27128299" />
        </connectionStrings>
      </add>
      <add name="HZG_Formal">
        <connectionStrings>
          <add name="Production" connectionString="Data Source=newerp.hzg.com.cn;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="Machine" connectionString="Data Source=newerp.hzg.com.cn;Initial Catalog=Machine;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="Finance" connectionString="Data Source=newerp.hzg.com.cn;Initial Catalog=FinanceEN;Persist Security Info=True;User ID=scimis;Password=27128299" />
        </connectionStrings>
      </add>
      <add name="HXG_Formal">
        <connectionStrings>
          <add name="Production" connectionString="Data Source=Ndata;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="Machine" connectionString="Data Source=Ndata;Initial Catalog=Machine;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="Finance" connectionString="Data Source=Ndata;Initial Catalog=FinanceEN;Persist Security Info=True;User ID=scimis;Password=27128299" />
        </connectionStrings>
      </add>
      <add name="TSR_Formal">
        <connectionStrings>
          <add name="Production" connectionString="Data Source=tradedb\TSR;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="Machine" connectionString="Data Source=tradedb\TSR;Initial Catalog=Machine;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="Finance" connectionString="Data Source=tradedb\TSR;Initial Catalog=FinanceEN;Persist Security Info=True;User ID=scimis;Password=27128299" />
        </connectionStrings>
      </add>
      <add name="PH1_Dummy">
        <connectionStrings>
          <add name="Production" connectionString="Data Source=PHL-NEWPMS.sportscity.local\mis;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="Machine" connectionString="Data Source=PHL-NEWPMS.sportscity.local\mis;Initial Catalog=Machine;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="Finance" connectionString="Data Source=PHL-NEWPMS.sportscity.local\mis;Initial Catalog=FinanceEN;Persist Security Info=True;User ID=scimis;Password=27128299" />
        </connectionStrings>
      </add>
      <add name="PH2_Dummy">
        <connectionStrings>
          <add name="Production" connectionString="Data Source=VT1-PH2-PMS2.vertex.local\mis;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="Machine" connectionString="Data Source=VT1-PH2-PMS2.vertex.local\mis;Initial Catalog=Machine;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="Finance" connectionString="Data Source=VT1-PH2-PMS2.vertex.local\mis;Initial Catalog=FinanceEN;Persist Security Info=True;User ID=scimis;Password=27128299" />
        </connectionStrings>
      </add>
      <add name="ESP_Dummy">
        <connectionStrings>
          <add name="Production" connectionString="Data Source=system2016.esprintavn.com\mis;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="Machine" connectionString="Data Source=system2016.esprintavn.com\mis;Initial Catalog=Machine;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="Finance" connectionString="Data Source=system2016.esprintavn.com\mis;Initial Catalog=FinanceEN;Persist Security Info=True;User ID=scimis;Password=27128299" />
        </connectionStrings>
      </add>
      <add name="SPT_Dummy">
        <connectionStrings>
          <add name="Production" connectionString="Data Source=SYSTEM2016.sprinta.com\mis;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="Machine" connectionString="Data Source=SYSTEM2016.sprinta.com\mis;Initial Catalog=Machine;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="Finance" connectionString="Data Source=SYSTEM2016.sprinta.com\mis;Initial Catalog=FinanceEN;Persist Security Info=True;User ID=scimis;Password=27128299" />
        </connectionStrings>
      </add>
      <add name="SPS_Dummy">
        <connectionStrings>
          <add name="Production" connectionString="Data Source=SPS-SQL.spscd.com\mis;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="Machine" connectionString="Data Source=SPS-SQL.spscd.com\mis;Initial Catalog=Machine;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="Finance" connectionString="Data Source=SPS-SQL.spscd.com\mis;Initial Catalog=FinanceEN;Persist Security Info=True;User ID=scimis;Password=27128299" />
        </connectionStrings>
      </add>
      <add name="SPR_Dummy">
        <connectionStrings>
          <add name="Production" connectionString="Data Source=PMS-SXR\mis;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="Machine" connectionString="Data Source=PMS-SXR\mis;Initial Catalog=Machine;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="Finance" connectionString="Data Source=PMS-SXR\mis;Initial Catalog=FinanceEN;Persist Security Info=True;User ID=scimis;Password=27128299" />
        </connectionStrings>
      </add>
      <add name="HZG_Dummy">
        <connectionStrings>
          <add name="Production" connectionString="Data Source=newerp.hzg.com.cn\mis;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="Machine" connectionString="Data Source=newerp.hzg.com.cn\mis;Initial Catalog=Machine;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="Finance" connectionString="Data Source=newerp.hzg.com.cn\mis;Initial Catalog=FinanceEN;Persist Security Info=True;User ID=scimis;Password=27128299" />
        </connectionStrings>
      </add>
      <add name="HXG_Dummy">
        <connectionStrings>
          <add name="Production" connectionString="Data Source=Ndata\mis;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="Machine" connectionString="Data Source=Ndata\mis;Initial Catalog=Machine;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="Finance" connectionString="Data Source=Ndata\mis;Initial Catalog=FinanceEN;Persist Security Info=True;User ID=scimis;Password=27128299" />
        </connectionStrings>
      </add>
      <add name="TSR_Dummy">
        <connectionStrings>
          <add name="Production" connectionString="Data Source=tradedb\mis;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="Machine" connectionString="Data Source=tradedb\mis;Initial Catalog=Machine;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="Finance" connectionString="Data Source=tradedb\mis;Initial Catalog=FinanceEN;Persist Security Info=True;User ID=scimis;Password=27128299" />
        </connectionStrings>
      </add>
      <add name="Tradedb_PH1">
        <connectionStrings>
          <add name="Production" connectionString="Data Source=tradedb\ph1;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299"/>
          <add name="Machine" connectionString="Data Source=tradedb\ph1;Initial Catalog=Machine;Persist Security Info=True;User ID=scimis;Password=27128299"/>
          <add name="Finance" connectionString="Data Source=tradedb\ph1;Initial Catalog=FinanceEN;Persist Security Info=True;User ID=scimis;Password=27128299"/>
          <add name="ProductionTPE" connectionString="Data Source=tradedb;Initial Catalog=ProductionTPE;Persist Security Info=True;User ID=scimis;Password=27128299"/>
          <add name="Trade" connectionString="Data Source=tradedb;Initial Catalog=Trade;Persist Security Info=True;User ID=scimis;Password=27128299" />
        </connectionStrings>
      </add>
      <add name="Tradedb_PH2">
        <connectionStrings>
          <add name="Production" connectionString="Data Source=tradedb\PH2;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299"/>
          <add name="Machine" connectionString="Data Source=tradedb\PH2;Initial Catalog=Machine;Persist Security Info=True;User ID=scimis;Password=27128299"/>
          <add name="Finance" connectionString="Data Source=tradedb\PH2;Initial Catalog=FinanceEN;Persist Security Info=True;User ID=scimis;Password=27128299"/>
          <add name="ProductionTPE" connectionString="Data Source=tradedb;Initial Catalog=ProductionTPE;Persist Security Info=True;User ID=scimis;Password=27128299"/>
          <add name="Trade" connectionString="Data Source=tradedb;Initial Catalog=Trade;Persist Security Info=True;User ID=scimis;Password=27128299" />
        </connectionStrings>
      </add>
      <add name="Tradedb_ESP">
        <connectionStrings>
          <add name="Production" connectionString="Data Source=tradedb\ESP;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299"/>
          <add name="Machine" connectionString="Data Source=tradedb\ESP;Initial Catalog=Machine;Persist Security Info=True;User ID=scimis;Password=27128299"/>
          <add name="Finance" connectionString="Data Source=tradedb\ESP;Initial Catalog=FinanceEN;Persist Security Info=True;User ID=scimis;Password=27128299"/>
          <add name="ProductionTPE" connectionString="Data Source=tradedb;Initial Catalog=ProductionTPE;Persist Security Info=True;User ID=scimis;Password=27128299"/>
          <add name="Trade" connectionString="Data Source=tradedb;Initial Catalog=Trade;Persist Security Info=True;User ID=scimis;Password=27128299" />
        </connectionStrings>
      </add>
      <add name="Tradedb_SPT">
        <connectionStrings>
          <add name="Production" connectionString="Data Source=tradedb\SPT;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299"/>
          <add name="Machine" connectionString="Data Source=tradedb\SPT;Initial Catalog=Machine;Persist Security Info=True;User ID=scimis;Password=27128299"/>
          <add name="Finance" connectionString="Data Source=tradedb\SPT;Initial Catalog=FinanceEN;Persist Security Info=True;User ID=scimis;Password=27128299"/>
          <add name="ProductionTPE" connectionString="Data Source=tradedb;Initial Catalog=ProductionTPE;Persist Security Info=True;User ID=scimis;Password=27128299"/>
          <add name="Trade" connectionString="Data Source=tradedb;Initial Catalog=Trade;Persist Security Info=True;User ID=scimis;Password=27128299" />
        </connectionStrings>
      </add>
      <add name="Tradedb_SPS">
        <connectionStrings>
          <add name="Production" connectionString="Data Source=tradedb\SPS;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299"/>
          <add name="Machine" connectionString="Data Source=tradedb\SPS;Initial Catalog=Machine;Persist Security Info=True;User ID=scimis;Password=27128299"/>
          <add name="Finance" connectionString="Data Source=tradedb\SPS;Initial Catalog=FinanceEN;Persist Security Info=True;User ID=scimis;Password=27128299"/>
          <add name="ProductionTPE" connectionString="Data Source=tradedb;Initial Catalog=ProductionTPE;Persist Security Info=True;User ID=scimis;Password=27128299"/>
          <add name="Trade" connectionString="Data Source=tradedb;Initial Catalog=Trade;Persist Security Info=True;User ID=scimis;Password=27128299" />
        </connectionStrings>
      </add>
      <add name="Tradedb_SPR">
        <connectionStrings>
          <add name="Production" connectionString="Data Source=tradedb\SPR;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299"/>
          <add name="Machine" connectionString="Data Source=tradedb\SPR;Initial Catalog=Machine;Persist Security Info=True;User ID=scimis;Password=27128299"/>
          <add name="Finance" connectionString="Data Source=tradedb\SPR;Initial Catalog=FinanceEN;Persist Security Info=True;User ID=scimis;Password=27128299"/>
          <add name="ProductionTPE" connectionString="Data Source=tradedb;Initial Catalog=ProductionTPE;Persist Security Info=True;User ID=scimis;Password=27128299"/>
          <add name="Trade" connectionString="Data Source=tradedb;Initial Catalog=Trade;Persist Security Info=True;User ID=scimis;Password=27128299" />
        </connectionStrings>
      </add>
      <add name="Tradedb_HZG">
        <connectionStrings>
          <add name="Production" connectionString="Data Source=tradedb\HZG;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299"/>
          <add name="Machine" connectionString="Data Source=tradedb\HZG;Initial Catalog=Machine;Persist Security Info=True;User ID=scimis;Password=27128299"/>
          <add name="Finance" connectionString="Data Source=tradedb\HZG;Initial Catalog=FinanceEN;Persist Security Info=True;User ID=scimis;Password=27128299"/>
          <add name="ProductionTPE" connectionString="Data Source=tradedb;Initial Catalog=ProductionTPE;Persist Security Info=True;User ID=scimis;Password=27128299"/>
          <add name="Trade" connectionString="Data Source=tradedb;Initial Catalog=Trade;Persist Security Info=True;User ID=scimis;Password=27128299" />
        </connectionStrings>
      </add>
      <add name="Tradedb_HXG">
        <connectionStrings>
          <add name="Production" connectionString="Data Source=tradedb\HXG;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299"/>
          <add name="Machine" connectionString="Data Source=tradedb\HXG;Initial Catalog=Machine;Persist Security Info=True;User ID=scimis;Password=27128299"/>
          <add name="Finance" connectionString="Data Source=tradedb\HXG;Initial Catalog=FinanceEN;Persist Security Info=True;User ID=scimis;Password=27128299"/>
          <add name="ProductionTPE" connectionString="Data Source=tradedb;Initial Catalog=ProductionTPE;Persist Security Info=True;User ID=scimis;Password=27128299"/>
          <add name="Trade" connectionString="Data Source=tradedb;Initial Catalog=Trade;Persist Security Info=True;User ID=scimis;Password=27128299" />
        </connectionStrings>
      </add>
      <add name="Tradedb_TSR">
        <connectionStrings>
          <add name="Production" connectionString="Data Source=tradedb\TSR;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299"/>
          <add name="Machine" connectionString="Data Source=tradedb\TSR;Initial Catalog=Machine;Persist Security Info=True;User ID=scimis;Password=27128299"/>
          <add name="Finance" connectionString="Data Source=tradedb\TSR;Initial Catalog=FinanceEN;Persist Security Info=True;User ID=scimis;Password=27128299"/>
          <add name="ProductionTPE" connectionString="Data Source=tradedb;Initial Catalog=ProductionTPE;Persist Security Info=True;User ID=scimis;Password=27128299"/>
          <add name="Trade" connectionString="Data Source=tradedb;Initial Catalog=Trade;Persist Security Info=True;User ID=scimis;Password=27128299" />
        </connectionStrings>
      </add>
    </modules>
  </sci>
  <appSettings>
    <add key="module" value="Production" />
    <add key="codepage" value="000" />
    <add key="enabledbconnectionselection" value="true" />
    <add key="fontname" value="Tahoma" />
    <add key="fontsize" value="10" />
    <add key="help" value="D:\TRADE.chm" />
    <add key="clipdir" value="D:\CLIP" />
    <add key="reporttempdir" value=".\TMP\" />
    <add key="xltpathdir" value=".\XLT\" />
    <add key="mailfrom" value="" />
    <add key="mailserver_ip" value="Mail.sportscity.com.tw" />
    <add key="mailserver_port" value="" />
    <add key="mailserver_account" value="foxpro" />
    <add key="mailserver_password" value="orpxof" />
    <add key="helpmailaddress" value="" />
    <add key="ftpserver_ip" value="127.0.0.1" />
    <add key="ftpserver_account" value="ming" />
    <add key="ftpserver_password" value="0000" />
    <add key="datestringformat" value="yyyy/MM/dd" />
    <add key="datetimestringformat" value="yyyy/MM/dd HH:mm:ss" />
    <add key="formTextSufix" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="sql_update_receiver" value="PMShelp@sportscity.com.tw"/>
    <add key="TaipeiServer" value="Tradedb_PH1,Tradedb_PH2,Tradedb_ESP,Tradedb_SPT,Tradedb_SPS,Tradedb_SPR,Tradedb_HZG,Tradedb_HXG,Tradedb_TSR"/>
    <add key="ServerMatchFactory" value="Tradedb_PH1:MAI,MA2,MA3,MW2,MWI,FAC,FA2,PSR;Tradedb_PH2:VT1,GMM,PS2;Tradedb_ESP:ESP,ES2,ES3,VSR;Tradedb_SPT:SPT;Tradedb_SPS:SPS,R2S;Tradedb_SPR:R2X,S2R,S2X,SPR,SPX,X2R;Tradedb_HZG:CSR,HZG,HZG-E,ZZZ;Tradedb_HXG:HXG,HXG-C,XXX;Tradedb_TSR:TSR"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>