<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="sci" type="Sci.CfgSection, Sci"/>
  </configSections>

  <sci>
    <modules>
      <add name="bin">
        <connectionStrings>
          <add name="Production" connectionString="Data Source=testing\SNP;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="Pms_To_Trade" connectionString="Data Source=TradeDB\TSR;Initial Catalog=Pms_To_Trade;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="Trade_To_Pms" connectionString="Data Source=TradeDB\TSR;Initial Catalog=Trade_To_Pms;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="Machine" connectionString="Data Source=TradeDB\TSR;Initial Catalog=Machine;Persist Security Info=True;User ID=scimis;Password=27128299" />

        </connectionStrings>
      </add>
      <add name="x86">
        <connectionStrings>
          <add name="Production" connectionString="Data Source=TradeDB\TSR;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="Pms_To_Trade" connectionString="Data Source=TradeDB\TSR;Initial Catalog=Pms_To_Trade;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="Trade_To_Pms" connectionString="Data Source=TradeDB\TSR;Initial Catalog=Trade_To_Pms;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="Machine" connectionString="Data Source=TradeDB\TSR;Initial Catalog=Machine;Persist Security Info=True;User ID=scimis;Password=27128299" />
        </connectionStrings>
      </add>
      <add name="PH1_Formal">
        <connectionStrings>
          <add name="Production" connectionString="Data Source=PHL-NEWPMS.sportscity.local;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299"/>
          <add name="Machine" connectionString="Data Source=PHL-NEWPMS.sportscity.local;Initial Catalog=Machine;Persist Security Info=True;User ID=scimis;Password=27128299"/>
          <add name="Pms_To_Trade" connectionString="Data Source=PHL-NEWPMS.sportscity.local;Initial Catalog=Pms_To_Trade;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="Trade_To_Pms" connectionString="Data Source=PHL-NEWPMS.sportscity.local;Initial Catalog=Trade_To_Pms;Persist Security Info=True;User ID=scimis;Password=27128299" />
        </connectionStrings>
      </add>
      <add name="PH2_Formal">
        <connectionStrings>
          <add name="Production" connectionString="Data Source=VT1-PH2-PMS2.vertex.local;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299"/>
          <add name="Machine" connectionString="Data Source=VT1-PH2-PMS2.vertex.local;Initial Catalog=Machine;Persist Security Info=True;User ID=scimis;Password=27128299"/>
          <add name="Pms_To_Trade" connectionString="Data Source=VT1-PH2-PMS2.vertex.local;Initial Catalog=Pms_To_Trade;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="Trade_To_Pms" connectionString="Data Source=VT1-PH2-PMS2.vertex.local;Initial Catalog=Trade_To_Pms;Persist Security Info=True;User ID=scimis;Password=27128299" />
        </connectionStrings>
      </add>
      <add name="ESP_Formal">
        <connectionStrings>
          <add name="Production" connectionString="Data Source=system2016.esprintavn.com;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299"/>
          <add name="Machine" connectionString="Data Source=system2016.esprintavn.com;Initial Catalog=Machine;Persist Security Info=True;User ID=scimis;Password=27128299"/>
          <add name="Pms_To_Trade" connectionString="Data Source=system2016.esprintavn.com;Initial Catalog=Pms_To_Trade;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="Trade_To_Pms" connectionString="Data Source=system2016.esprintavn.com;Initial Catalog=Trade_To_Pms;Persist Security Info=True;User ID=scimis;Password=27128299" />
        </connectionStrings>
      </add>
      <add name="SPT_Formal">
        <connectionStrings>
          <add name="Production" connectionString="Data Source=SYSTEM2016.sprinta.com;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299"/>
          <add name="Machine" connectionString="Data Source=SYSTEM2016.sprinta.com;Initial Catalog=Machine;Persist Security Info=True;User ID=scimis;Password=27128299"/>
          <add name="Pms_To_Trade" connectionString="Data Source=SYSTEM2016.sprinta.com;Initial Catalog=Pms_To_Trade;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="Trade_To_Pms" connectionString="Data Source=SYSTEM2016.sprinta.com;Initial Catalog=Trade_To_Pms;Persist Security Info=True;User ID=scimis;Password=27128299" />
        </connectionStrings>
      </add>
      <add name="SPS_Formal">
        <connectionStrings>
          <add name="Production" connectionString="Data Source=SPS-SQL.spscd.com;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299"/>
          <add name="Machine" connectionString="Data Source=SPS-SQL.spscd.com;Initial Catalog=Machine;Persist Security Info=True;User ID=scimis;Password=27128299"/>
          <add name="Pms_To_Trade" connectionString="Data Source=SPS-SQL.spscd.com;Initial Catalog=Pms_To_Trade;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="Trade_To_Pms" connectionString="Data Source=SPS-SQL.spscd.com;Initial Catalog=Trade_To_Pms;Persist Security Info=True;User ID=scimis;Password=27128299" />
        </connectionStrings>
      </add>
      <add name="SPR_Formal">
        <connectionStrings>
          <add name="Production" connectionString="Data Source=PMS-SXR.spx.local;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299"/>
          <add name="Machine" connectionString="Data Source=PMS-SXR.spx.local;Initial Catalog=Machine;Persist Security Info=True;User ID=scimis;Password=27128299"/>
          <add name="Pms_To_Trade" connectionString="Data Source=PMS-SXR.spx.local;Initial Catalog=Pms_To_Trade;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="Trade_To_Pms" connectionString="Data Source=PMS-SXR.spx.local;Initial Catalog=Trade_To_Pms;Persist Security Info=True;User ID=scimis;Password=27128299" />
        </connectionStrings>
      </add>
      <add name="HZG_Formal">
        <connectionStrings>
          <add name="Production" connectionString="Data Source=newerp.hzg.com.cn;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299"/>
          <add name="Machine" connectionString="Data Source=newerp.hzg.com.cn;Initial Catalog=Machine;Persist Security Info=True;User ID=scimis;Password=27128299"/>
          <add name="Pms_To_Trade" connectionString="Data Source=newerp.hzg.com.cn;Initial Catalog=Pms_To_Trade;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="Trade_To_Pms" connectionString="Data Source=newerp.hzg.com.cn;Initial Catalog=Trade_To_Pms;Persist Security Info=True;User ID=scimis;Password=27128299" />
        </connectionStrings>
      </add>
      <add name="HXG_Formal">
        <connectionStrings>
          <add name="Production" connectionString="Data Source=Ndata.hxg.server;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299"/>
          <add name="Machine" connectionString="Data Source=Ndata.hxg.server;Initial Catalog=Machine;Persist Security Info=True;User ID=scimis;Password=27128299"/>
          <add name="Pms_To_Trade" connectionString="Data Source=Ndata.hxg.server;Initial Catalog=Pms_To_Trade;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="Trade_To_Pms" connectionString="Data Source=Ndata.hxg.server;Initial Catalog=Trade_To_Pms;Persist Security Info=True;User ID=scimis;Password=27128299" />
        </connectionStrings>
      </add>
      <add name="TSR_Formal">
        <connectionStrings>
          <add name="Production" connectionString="Data Source=tradedb\TSR;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299"/>
          <add name="Machine" connectionString="Data Source=tradedb\TSR;Initial Catalog=Machine;Persist Security Info=True;User ID=scimis;Password=27128299"/>
          <add name="Pms_To_Trade" connectionString="Data Source=tradedb\TSR;Initial Catalog=Pms_To_Trade;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="Trade_To_Pms" connectionString="Data Source=tradedb\TSR;Initial Catalog=Trade_To_Pms;Persist Security Info=True;User ID=scimis;Password=27128299" />
        </connectionStrings>
      </add>
	  <add name="SNP_Formal">
        <connectionStrings>
          <add name="Production" connectionString="Data Source=system2017.snp.local;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="Machine" connectionString="Data Source=system2017.snp.local;Initial Catalog=Machine;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="Finance" connectionString="Data Source=system2017.snp.local;Initial Catalog=FinanceEN;Persist Security Info=True;User ID=scimis;Password=27128299" />
        </connectionStrings>
      </add>
      <add name="PH1_Dummy">
        <connectionStrings>
          <add name="Production" connectionString="Data Source=PHL-NEWPMS.sportscity.local\mis;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299"/>
          <add name="Machine" connectionString="Data Source=PHL-NEWPMS.sportscity.local\mis;Initial Catalog=Machine;Persist Security Info=True;User ID=scimis;Password=27128299"/>
          <add name="Pms_To_Trade" connectionString="Data Source=PHL-NEWPMS.sportscity.local\mis;Initial Catalog=Pms_To_Trade;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="Trade_To_Pms" connectionString="Data Source=PHL-NEWPMS.sportscity.local\mis;Initial Catalog=Trade_To_Pms;Persist Security Info=True;User ID=scimis;Password=27128299" />
        </connectionStrings>
      </add>
      <add name="PH2_Dummy">
        <connectionStrings>
          <add name="Production" connectionString="Data Source=VT1-PH2-PMS2.vertex.local\mis;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299"/>
          <add name="Machine" connectionString="Data Source=VT1-PH2-PMS2.vertex.local\mis;Initial Catalog=Machine;Persist Security Info=True;User ID=scimis;Password=27128299"/>
          <add name="Pms_To_Trade" connectionString="Data Source=VT1-PH2-PMS2.vertex.local\mis;Initial Catalog=Pms_To_Trade;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="Trade_To_Pms" connectionString="Data Source=VT1-PH2-PMS2.vertex.local\mis;Initial Catalog=Trade_To_Pms;Persist Security Info=True;User ID=scimis;Password=27128299" />
        </connectionStrings>
      </add>
      <add name="ESP_Dummy">
        <connectionStrings>
          <add name="Production" connectionString="Data Source=system2016.esprintavn.com\mis;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299"/>
          <add name="Machine" connectionString="Data Source=system2016.esprintavn.com\mis;Initial Catalog=Machine;Persist Security Info=True;User ID=scimis;Password=27128299"/>
          <add name="Pms_To_Trade" connectionString="Data Source=system2016.esprintavn.com\mis;Initial Catalog=Pms_To_Trade;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="Trade_To_Pms" connectionString="Data Source=system2016.esprintavn.com\mis;Initial Catalog=Trade_To_Pms;Persist Security Info=True;User ID=scimis;Password=27128299" />
        </connectionStrings>
      </add>
      <add name="SPT_Dummy">
        <connectionStrings>
          <add name="Production" connectionString="Data Source=SYSTEM2016.sprinta.com\mis;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299"/>
          <add name="Machine" connectionString="Data Source=SYSTEM2016.sprinta.com\mis;Initial Catalog=Machine;Persist Security Info=True;User ID=scimis;Password=27128299"/>
          <add name="Pms_To_Trade" connectionString="Data Source=SYSTEM2016.sprinta.com\mis;Initial Catalog=Pms_To_Trade;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="Trade_To_Pms" connectionString="Data Source=SYSTEM2016.sprinta.com\mis;Initial Catalog=Trade_To_Pms;Persist Security Info=True;User ID=scimis;Password=27128299" />
        </connectionStrings>
      </add>
      <add name="SPS_Dummy">
        <connectionStrings>
          <add name="Production" connectionString="Data Source=SPS-SQL.spscd.com\mis;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299"/>
          <add name="Machine" connectionString="Data Source=SPS-SQL.spscd.com\mis;Initial Catalog=Machine;Persist Security Info=True;User ID=scimis;Password=27128299"/>
          <add name="Pms_To_Trade" connectionString="Data Source=SPS-SQL.spscd.com\mis;Initial Catalog=Pms_To_Trade;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="Trade_To_Pms" connectionString="Data Source=SPS-SQL.spscd.com\mis;Initial Catalog=Trade_To_Pms;Persist Security Info=True;User ID=scimis;Password=27128299" />
        </connectionStrings>
      </add>
      <add name="SPR_Dummy">
        <connectionStrings>
          <add name="Production" connectionString="Data Source=PMS-SXR.spx.local\mis;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299"/>
          <add name="Machine" connectionString="Data Source=PMS-SXR.spx.local\mis;Initial Catalog=Machine;Persist Security Info=True;User ID=scimis;Password=27128299"/>
          <add name="Pms_To_Trade" connectionString="Data Source=PMS-SXR.spx.local\mis;Initial Catalog=Pms_To_Trade;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="Trade_To_Pms" connectionString="Data Source=PMS-SXR.spx.local\mis;Initial Catalog=Trade_To_Pms;Persist Security Info=True;User ID=scimis;Password=27128299" />
        </connectionStrings>
      </add>
      <add name="HZG_Dummy">
        <connectionStrings>
          <add name="Production" connectionString="Data Source=newerp.hzg.com.cn\mis;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299"/>
          <add name="Machine" connectionString="Data Source=newerp.hzg.com.cn\mis;Initial Catalog=Machine;Persist Security Info=True;User ID=scimis;Password=27128299"/>
          <add name="Pms_To_Trade" connectionString="Data Source=newerp.hzg.com.cn\mis;Initial Catalog=Pms_To_Trade;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="Trade_To_Pms" connectionString="Data Source=newerp.hzg.com.cn\mis;Initial Catalog=Trade_To_Pms;Persist Security Info=True;User ID=scimis;Password=27128299" />
        </connectionStrings>
      </add>
      <add name="HXG_Dummy">
        <connectionStrings>
          <add name="Production" connectionString="Data Source=Ndata.hxg.server\mis;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299"/>
          <add name="Machine" connectionString="Data Source=Ndata.hxg.server\mis;Initial Catalog=Machine;Persist Security Info=True;User ID=scimis;Password=27128299"/>
          <add name="Pms_To_Trade" connectionString="Data Source=Ndata.hxg.server\mis;Initial Catalog=Pms_To_Trade;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="Trade_To_Pms" connectionString="Data Source=Ndata.hxg.server\mis;Initial Catalog=Trade_To_Pms;Persist Security Info=True;User ID=scimis;Password=27128299" />
        </connectionStrings>
      </add>
    </modules>
  </sci>

  <appSettings>
    <add key="module" value="Production"/>
    <add key="codepage" value="000"/>
    <add key="enabledbconnectionselection" value="true"/>

    <add key="fontname" value="Tahoma"/>
    <add key="fontsize" value="10"/>

    <add key="help" value="D:\TRADE.chm"/>
    <add key="clipdir" value="D:\CLIP"/>
    <add key="reporttempdir" value=".\TMP\"/>
    <add key="xltpathdir" value=".\XLT\"/>

    <add key="mailfrom" value=""/>
    <add key="mailserver_ip" value="Mail.sportscity.com.tw"/>
    <add key="mailserver_port" value="25"/>
    <add key="mailserver_account" value="foxpro"/>
    <add key="mailserver_password" value="orpxof"/>
    <add key="helpmailaddress" value=""/>

    <add key="ftpserver_ip" value="ftp.sportscity.com.tw"/>
    <add key="ftpserver_account" value="NEWPMS2016"/>
    <add key="ftpserver_password" value="newpms-data"/>
    <add key="DataSourcePath" value="E:\"/>

    <add key="rarexefile" value="C:\Program Files\WinRAR\WinRar.exe"/>
    <add key="RetryTimes" value="5"/>
    <add key="datestringformat" value="MM/dd/yyyy"/>
    <add key="datetimestringformat" value="MM/dd/yyyy HH:mm:ss"/>

    <add key="MailList_ForError" value="willy.wei@sportscity.com.tw;"/>
  </appSettings>
</configuration>
