CREATE Procedure [dbo].[Juki_P2H_Operator]

AS
BEGIN
	SET NOCOUNT ON;

BEGIN TRY
BEGIN TRANSACTION; -- 開始交易
	-- 防呆 JukiExchangeDBActive = 1 才能執行, 否則跳出
	IF EXISTS(SELECT 1 FROM Production.dbo.[System] WHERE JukiExchangeDBActive = 1)
	BEGIN
		SELECT e.ID, e.FactoryID, e.SewingLineID, [Name] = PMSHistory.dbo.GetFirstName(e.[Name]), e.JukiRFIDNo 
		INTO #tmp_Employee
		FROM PamsCN.dbo.Employee e
		WHERE e.WorkTypeID = 1

		SELECT j.*
		INTO #tmp_Juki_T_Operator_Last
		FROM PMSHistory.dbo.Juki_T_Operator j
		WHERE EXISTS (SELECT 1 FROM #tmp_Employee t WHERE j.EmployeeID = t.ID)
		AND j.Ukey = (SELECT MAX(j2.Ukey) FROM PMSHistory.dbo.Juki_T_Operator j2 WHERE j.EmployeeID = j2.EmployeeID)

		-- 新增 (沒資料)
		SELECT e.FactoryID, e.SewingLineID, e.ID, e.[Name], e.JukiRFIDNo
			, [Flag] = 1
			, [AddDate] = GETDATE()
		INTO #tmp_Employee_toJuki
		FROM #tmp_Employee e
		WHERE NOT EXISTS (SELECT 1 FROM #tmp_Juki_T_Operator_Last lj WHERE e.ID = lj.EmployeeID)		
		UNION ALL
		-- 新增 (最後一筆為刪除 3)
		-- 修改 (最後一筆為新增 1 或 修改 2)
		SELECT e.FactoryID, e.SewingLineID, e.ID, e.[Name], e.JukiRFIDNo
			, [Flag] = CASE WHEN lj.Flag =3 THEN 1
					   ELSE 2
					   END
			, [AddDate] = GETDATE()
		FROM #tmp_Employee e
		INNER JOIN #tmp_Juki_T_Operator_Last lj ON e.ID = lj.EmployeeID
		WHERE e.FactoryID <> lj.FactoryID
		OR e.SewingLineID <> lj.SewingLineID
		OR e.[Name] <> lj.EmployeeName
		OR e.JukiRFIDNo <> lj.RFIDNo
		UNION ALL
		-- 刪除 (不存在原表的 且 最後一筆不為3)
		SELECT j.FactoryID,	j.SewingLineID, j.EmployeeID, j.EmployeeName, j.RFIDNo
			, [Flag] = 3
			, [AddDate] = GETDATE()
		FROM PMSHistory.dbo.Juki_T_Operator j
		WHERE NOT EXISTS (SELECT 1 FROM #tmp_Employee e WHERE j.EmployeeID = e.ID)
		AND j.Ukey = (SELECT MAX(j2.Ukey) FROM PMSHistory.dbo.Juki_T_Operator j2 WHERE j.EmployeeID = j2.EmployeeID)
		AND j.Flag != 3
		;
		/* ----------------------------------------------------------
		   Juki_T_Operator.AddDate 依 Flag 調整（±毫秒規則）
		   - Flag = 1 → AddDate = GETDATE()          （新增）
		   - Flag = 2 → AddDate = GETDATE() - 3  ms  （修改）
		   - Flag = 3 → AddDate = GETDATE() - 6  ms  （刪除）
		   其餘邏輯與原版一致。
		---------------------------------------------------------------- */

        /* 依 Flag 調整 AddDate 毫秒差 */
        UPDATE #tmp_Employee_toJuki
        SET    AddDate = CASE
                            WHEN Flag = 3 THEN DATEADD(ms,-6,AddDate)
                            WHEN Flag = 2 THEN DATEADD(ms,-3,AddDate)
                            ELSE AddDate
                            END
		;
		INSERT INTO PMSHistory.dbo.Juki_T_Operator([FactoryID], [SewingLineID], [EmployeeID], [EmployeeName], [RFIDNo], [Flag], [AddDate])
		SELECT e.FactoryID, e.SewingLineID, e.ID, e.[Name], e.JukiRFIDNo, e.Flag, e.AddDate
		FROM #tmp_Employee_toJuki e

		UPDATE e
			SET e.JukiOperatorDataSubmitDate = GETDATE()
		FROM PamsCN.dbo.Employee e
		WHERE EXISTS (SELECT 1 FROM #tmp_Employee_toJuki j WHERE e.ID = j.ID)

	END
	COMMIT TRANSACTION; 
END TRY
BEGIN CATCH
     -- 發生錯誤就rollback
     IF @@TRANCOUNT > 0
         ROLLBACK TRANSACTION;

     -- 可以選擇把錯誤往外丟或 Log 起來
     DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
     DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
     DECLARE @ErrorState INT = ERROR_STATE();

     RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
END CATCH
END
GO