
-- =============================================
-- Author:		<Willy S01910>
-- Create date: <2016/08/17>
-- Description:	<exp_Order>
-- =============================================
Create PROCEDURE [dbo].[exp_Order]
AS
BEGIN

IF OBJECT_ID(N'Orders') IS NOT NULL
BEGIN
  DROP TABLE Orders
END

IF OBJECT_ID(N'FactoryOrder') IS NOT NULL
BEGIN
  DROP TABLE FactoryOrder
END

IF OBJECT_ID(N'OutStandingRecord') IS NOT NULL
BEGIN
  DROP TABLE OutStandingRecord
END

IF OBJECT_ID(N'Order_QtyShip') IS NOT NULL
BEGIN
  DROP TABLE Order_QtyShip
END

IF OBJECT_ID(N'Order_Finish') IS NOT NULL
BEGIN
  DROP TABLE Order_Finish
END

IF OBJECT_ID(N'OrderChangeApplication') IS NOT NULL
BEGIN
  DROP TABLE OrderChangeApplication
END

------------------------------------------------------------------------------------------------------
--***資料交換的條件限制***
--1. 優先取得Production.dbo.DateInfo
declare @DateInfoName varchar(30) ='exp_Orders';
declare @DateStart date= (select DateStart from Production.dbo.DateInfo where name = @DateInfoName);
declare @DateEnd date  = (select DateEnd   from Production.dbo.DateInfo where name = @DateInfoName);
declare @Remark nvarchar(max) = (select Remark from Production.dbo.DateInfo where name = @DateInfoName);

--2.取得預設值
if @DateStart is Null
	set @DateStart= CONVERT(DATE,DATEADD(day,-60,GETDATE()))
if @DateEnd is Null
	set @DateEnd = '9999/12/31'	

--3.更新Pms_To_Trade.dbo.dateInfo
if exists(select 1 from Pms_To_Trade.dbo.dateInfo where Name = @DateInfoName )
	update Pms_To_Trade.dbo.dateInfo  set DateStart = @DateStart,DateEnd = @DateEnd, Remark=@Remark where Name = @DateInfoName 
else
	Insert into Pms_To_Trade.dbo.dateInfo(Name,DateStart,DateEnd,Remark)
	values (@DateInfoName,@DateStart,@DateEnd,@Remark);
------------------------------------------------------------------------------------------------------

SELECT Orders.ID, isnull(Orders.MCHandle,'') as MCHandle, 
	isnull((select Email from Production.dbo.Pass1 where id = Orders.MCHandle),'') as MCEMail,
	isnull((select ExtNo from Production.dbo.Pass1 where id = Orders.MCHandle),'') as MCEXT,
	LocalMR = isnull(Orders.LocalMR,'')
INTO Orders
FROM Production.dbo.Orders 
inner join Production.dbo.Factory on Orders.FactoryID = Factory.ID
WHERE Orders.SciDelivery BETWEEN @DateStart AND @DateEnd
AND Orders.LocalOrder = 0 and Factory.IsProduceFty = 1
ORDER BY Orders.ID 

SELECT o.FactoryID , o.StyleUkey, o.ID, o.BrandID, o.StyleID, o.SeasonID, o.BuyerDelivery, o.SciDelivery
	, o.CFMDate, o.Junk, o.CdCodeID, o.CPU, o.Qty, o.StyleUnit, o.MCHandle, o.AddName, o.AddDate, o.EditName, o.EditDate
	,[MCEMAIL] = isnull((SELECT isnull(Email,'') FROM Production.dbo.Pass1 WHERE ID = o.MCHandle),'')
	,[MCEXT] = isnull((SELECT isnull(ExtNo,'') FROM Production.dbo.Pass1 WHERE ID = o.MCHandle),'')
	, o.ProgramID,  o.SubconInSisterFty
	,[OrderID] = o.CustPONo
	,o.SubconInType
	,s.CDCodeNew
INTO FactoryOrder	
FROM Production.dbo.Orders o
INNER JOIN Production.dbo.Style s on o.StyleID = s.ID and o.BrandID = s.BrandID and o.SeasonID = s.SeasonID
WHERE o.SciDelivery >= @DateStart AND o.LocalOrder = 1 
ORDER BY o.ID 

SELECT ID, OutstandingReason, OutstandingRemark, OutstandingInCharge,OutstandingDate 
INTO OutStandingRecord
FROM Production.dbo.Orders 
WHERE OutstandingDate BETWEEN @DateStart AND @DateEnd
AND  Orders.LocalOrder = 0 
ORDER BY Orders.ID

------------------------------------------------------------------------------------------------------
--***資料交換的條件限制***
--1. 優先取得Production.dbo.DateInfo
SET @DateInfoName  ='exp_Order';
SET @DateStart = (select DateStart from Production.dbo.DateInfo where name = @DateInfoName);
SET @DateEnd   = (select DateEnd   from Production.dbo.DateInfo where name = @DateInfoName);
SET @Remark = (select Remark from Production.dbo.DateInfo where name = @DateInfoName);
SET @Remark = (select Remark from Production.dbo.DateInfo where name = @DateInfoName);

--2.取得預設值
if @DateStart is Null
	set @DateStart= CONVERT(DATE,DATEADD(day,-7,GETDATE()))
if @DateEnd is Null
	set @DateEnd = CONVERT(DATE, GETDATE())	

--3.更新Pms_To_Trade.dbo.dateInfo
if exists(select 1 from Pms_To_Trade.dbo.dateInfo where Name = @DateInfoName )
	update Pms_To_Trade.dbo.dateInfo  set DateStart = @DateStart,DateEnd = @DateEnd, Remark=@Remark where Name = @DateInfoName 
else
	Insert into Pms_To_Trade.dbo.dateInfo(Name,DateStart,DateEnd,Remark)
	values (@DateInfoName,@DateStart,@DateEnd,@Remark);
------------------------------------------------------------------------------------------------------

SELECT  
	[ID]= o.ID
	,[Seq]= oq.Seq
	,[CTNLastReceiveDate]= pd.ReceiveDate 
	,[CFAFinalInspectDate] = oq.CFAFinalInspectDate
	,[CFAFinalInspectResult] = oq.CFAFinalInspectResult
	,[CFA3rdInspectDate] = oq.CFA3rdInspectDate 
	,[CFA3rdInspectResult] = oq.CFA3rdInspectResult

INTO Order_QtyShip
from Production.dbo.Orders o 
inner join Production.dbo.Factory f on o.FactoryID = f.ID
inner join Production.dbo.Order_QtyShip oq on o.id = oq.id
outer apply(
	select ReceiveDate = max(pd.ReceiveDate) 
	from Production.dbo.PackingList_Detail pd
	where	pd.OrderID = o.ID
			and pd.OrderShipmodeSeq = oq.Seq
			and not exists (
				-- 每個紙箱必須放在 Clog（ReceiveDate 有日期）
				select 1 
				from Production.dbo.PackingList_Detail pdCheck
				where pd.OrderID = pdCheck.OrderID 
					  and pd.OrderShipmodeSeq = pdCheck.OrderShipmodeSeq
					  and pdCheck.ReceiveDate is null)
	group by pd.OrderID, pd.ordershipmodeseq 
) pd 
WHERE o.localorder = 0 
		and f.IsProduceFty = 1
		and (
			exists (
				-- 1. 新建立 Packing List
				-- 2. 拆箱 Re Packing（影響新/舊 Packing List）
				-- 3. 近期送進 Clog
				select 1
				from Production.dbo.PackingList p 
				inner join Production.dbo.PackingList_Detail pd on p.ID =pd.ID
				where o.ID = pd.OrderID
					  and oq.Seq = pd.OrderShipmodeSeq
					  and ((p.AddDate >= @DateStart and p.AddDate <= @DateEnd)
							or (p.EditDate >= @DateStart and p.EditDate <= @DateEnd)
							or (pd.ReceiveDate >= @DateStart and pd.ReceiveDate <= @DateEnd)
						  )
			)
			or exists (
				-- 1. Clog 紙箱退回（包含 Clog 退回與 Factory 申請退回）
				select 1
				from Production.dbo.ClogReturn cr
				inner join Production.dbo.PackingList_Detail pd on cr.PackingListID = pd.ID
																   and cr.CTNStartNo = pd.CTNStartNo
				where o.ID =cr.OrderID
					  and oq.Seq = pd.OrderShipmodeSeq
					  and (cr.ReturnDate  >= @DateStart and cr.ReturnDate <= @DateEnd)
			)
			or exists (
				-- 1. CFA 紙箱退回工廠
				select 1
				from Production.dbo.CFAReturn cr
				inner join Production.dbo.PackingList_Detail pd on cr.PackingListID = pd.ID
																   and cr.CTNStartNo = pd.CTNStartNo
				where o.ID = cr.OrderID
					  and oq.Seq = pd.OrderShipmodeSeq
					  and cr.ReturnTo = 'Factory'
					  and (cr.ReturnDate >= @DateStart and cr.ReturnDate <= @DateEnd)
			)
			OR (oq.CFAUpdateDate >= @DateStart and oq.CFAUpdateDate <= @DateEnd)
		)
GROUP BY o.ID, oq.Seq, pd.ReceiveDate ,oq.CFAFinalInspectDate,oq.CFAFinalInspectResult,oq.CFA3rdInspectDate ,oq.CFA3rdInspectResult
ORDER BY o.ID

select *
	,[CurrentFOCQty] = ISNULL(Production.dbo.GetFocStockByOrder(odf.ID),0)
into Order_Finish
from Production.dbo.Order_Finish odf
where (
odf.AddDate >= @DateStart
or 
odf.EditDate >= @DateStart
)
----Order_Finish 訂單 Pullout 近 7 天內有異動過（AddDate, EditDate）
OR EXISTS(
	SELECT 1
	FROM Production.dbo.Pullout pu
	INNER JOIN Production.dbo.Pullout_Detail pud ON pud.id=pu.ID
	WHERE (
		pu.AddDate >= @DateStart
		or 
		pu.EditDate >= @DateStart
	)
	and pu.Status <> 'New'
	AND pud.OrderID = odf.ID
)
----Order_Finish 訂單 InvAdjust 近 7 天內有異動過（AddDate, EditDate）
OR EXISTS(
	SELECT 1
	FROM Production.dbo.InvAdjust ia
	WHERE ia.OrderID = odf.ID
	AND (
		ia.AddDate >= @DateStart
		or 
		ia.EditDate >= @DateStart 
	))	

--OrderChangeApplication
select 
	oca.ID
	,oca.ConfirmedName
	,oca.ConfirmedDate
	,oca.FTYComments
	,oca.EditDate
into OrderChangeApplication
from Production.dbo.OrderChangeApplication oca
where oca.EditDate >= @DateStart

END
