
-- =============================================
-- Author:		<Aaron S02109>
-- Create date: <2019/08/29>
-- Description:	<exp_Base>
-- =============================================
CREATE PROCEDURE [dbo].[exp_Base]
AS
BEGIN

IF OBJECT_ID(N'LocalSupp') IS NOT NULL
BEGIN
  DROP TABLE LocalSupp
END


SELECT ID,Abb,Junk
INTO LocalSupp
FROM Production.dbo.LocalSupp
WHERE  (IsSubcon = 1 or IsSintexSubcon = 1) and 
		(AddDate  > cast(GETDATE() - 3 as date) or (EditDate > cast(GETDATE() - 3 as date) ))


END