
-- =============================================
-- Author:		<Willy S01910>
-- Create date: <2016/08/17>
-- Description:	<exp_Export>
-- =============================================
CREATE PROCEDURE [dbo].[exp_Export]
AS
BEGIN

IF OBJECT_ID(N'Export') IS NOT NULL
BEGIN
  DROP TABLE Export
END

IF OBJECT_ID(N'ShareExpense') IS NOT NULL
BEGIN
  DROP TABLE ShareExpense
END

IF OBJECT_ID(N'DeletedShareExpense') IS NOT NULL
BEGIN
  DROP TABLE DeletedShareExpense
END

--釋放tmpDeleteWKNo
IF OBJECT_ID(N'tmpDeleteWKNo') IS NOT NULL
BEGIN
  DROP TABLE tmpDeleteWKNo
END

------------------------------------------------------------------------------------------------------
--***資料交換的條件限制***
--1. 優先取得Production.dbo.DateInfo
declare @DateInfoName varchar(30) ='Export';
declare @DateStart date= (select DateStart from Production.dbo.DateInfo where name = @DateInfoName);
declare @DateEnd date  = (select DateEnd   from Production.dbo.DateInfo where name = @DateInfoName);
declare @Remark nvarchar(max) = (select Remark from Production.dbo.DateInfo where name = @DateInfoName);

--2.取得預設值
if @DateStart is Null
	set @DateStart= CONVERT(DATE,DATEADD(day,-7,GETDATE()))
if @DateEnd is Null
	set @DateEnd = CONVERT(DATE,DATEADD(day, 1,GETDATE()))

--3.更新Pms_To_Trade.dbo.dateInfo
if exists(select 1 from Pms_To_Trade.dbo.dateInfo where Name = @DateInfoName )
	update Pms_To_Trade.dbo.dateInfo  set DateStart = @DateStart,DateEnd = @DateEnd, Remark=@Remark where Name = @DateInfoName 
else
	Insert into Pms_To_Trade.dbo.dateInfo(Name,DateStart,DateEnd,Remark)
	values (@DateInfoName,@DateStart,@DateEnd,@Remark);
------------------------------------------------------------------------------------------------------

SELECT Id, PortArrival, WhseArrival, PackingArrival,DocArrival,Remark_Factory,NoImportCharges,CustomOT,CustomOTRespFty1,CustomOTRespFty2
INTO Export
FROM Production.dbo.Export
WHERE  EditDate  BETWEEN @DateStart and @DateEnd

IF OBJECT_ID(N'TransferExport') IS NOT NULL
BEGIN
  DROP TABLE TransferExport
END
SELECT *
INTO TransferExport
FROM Production.dbo.TransferExport t
WHERE 
(
	EditDate BETWEEN @DateStart and @DateEnd or
	exists(select 1 from Production.dbo.TransferIn where TransferExportID = t.ID and EditDate BETWEEN @DateStart and @DateEnd)
)
and exists(select 1 from Production.dbo.Factory where id = t.FactoryID)

------------------------------------------------------------------------------------------------------
--***資料交換的條件限制***
--1. 優先取得Production.dbo.DateInfo
SET @DateInfoName ='ShareExpense';
SET @DateStart = (select DateStart from Production.dbo.DateInfo where name = @DateInfoName);
SET @Remark = (select Remark from Production.dbo.DateInfo where name = @DateInfoName);

--2.取得預設值
if @DateStart is Null
	set @DateStart= CONVERT(DATE,DATEADD(day,-15,GETDATE()))

--3.更新Pms_To_Trade.dbo.dateInfo
if exists(select 1 from Pms_To_Trade.dbo.dateInfo where Name = @DateInfoName )
	update Pms_To_Trade.dbo.dateInfo  set DateStart = @DateStart,DateEnd = @DateStart, Remark=@Remark where Name = @DateInfoName 
else
	Insert into Pms_To_Trade.dbo.dateInfo(Name,DateStart,DateEnd,Remark)
	values (@DateInfoName,@DateStart,@DateStart,@Remark);
------------------------------------------------------------------------------------------------------

--撈取ShareExpense有被刪除過的記錄
select distinct WKNo 
into tmpDeleteWKNo 
from Production.dbo.View_ShareExpense 
where	Junk = 1 
		and WKNo <> ''
		and EditDate  >= @DateStart
		
--撈取要轉出的資料
Select	se.BLNo
		, se.WKNo
		, se.AccountID
		, SUM(se.Amount) as Amount 
		, se.CurrencyID
		, se.DebitID
		, ISNULL(ap.Type,'') AS Type
Into ShareExpense
from [Production].[dbo].View_ShareExpense se
outer apply(select Type from [Production].[dbo].ShippingAP where ID = se.ShippingAPID)ap
Where	exists (
			select 1 from (
				Select distinct WKNo
				From [Production].[dbo].View_ShareExpense
				Where EditDate >= @DateStart
			) a 
			where a.WKNo = se.WKNo
		)
		and (se.Junk is null or se.Junk = 0)
GROUP BY se.BLNo, se.WKNo, se.AccountID, se.CurrencyID, se.DebitID,ap.Type


--撈取要轉出的被刪除的資料
Select t.WKNo 
into DeletedShareExpense 
from tmpDeleteWKNo t 
left join ShareExpense s on s.WKNo = t.WKNo
where s.WKNo is null

--釋放tmpDeleteWKNo
IF OBJECT_ID(N'tmpDeleteWKNo') IS NOT NULL
BEGIN
  DROP TABLE tmpDeleteWKNo
END

------------------------------------------------------------------------------------------------------
--***資料交換的條件限制***
--1. 優先取得Production.dbo.DateInfo
SET @DateInfoName ='MtlCertificate_Detail';
SET @DateStart = (select DateStart from Production.dbo.DateInfo where name = @DateInfoName);
SET @Remark = (select Remark from Production.dbo.DateInfo where name = @DateInfoName);

--2.取得預設值
if @DateStart is Null
	set @DateStart= CONVERT(DATE,DATEADD(day,-7,GETDATE()))	

--3.更新Pms_To_Trade.dbo.dateInfo
if exists(select 1 from Pms_To_Trade.dbo.dateInfo where Name = @DateInfoName )
	update Pms_To_Trade.dbo.dateInfo  set DateStart = @DateStart,DateEnd = @DateStart, Remark=@Remark where Name = @DateInfoName 
else
	Insert into Pms_To_Trade.dbo.dateInfo(Name,DateStart,DateEnd,Remark)
	values (@DateInfoName,@DateStart,@DateStart,@Remark);
------------------------------------------------------------------------------------------------------

--MtlCertificate_Detail
IF OBJECT_ID(N'MtlCertificate_Detail') IS NOT NULL
BEGIN
  DROP TABLE MtlCertificate_Detail
END

select	md.*	into MtlCertificate_Detail
from Production.dbo.MtlCertificate m with (nolock)
inner join Production.dbo.MtlCertificate_Detail md with (nolock) on m.ID = md.ID
where m.EditDate >= @DateStart

END