
-- =============================================
-- Author:		<Willy S01910>
-- Create date: <2016/08/17>
-- Description:	<exp_3rd>
-- =============================================
Create PROCEDURE [dbo].[exp_3rd]
AS
BEGIN
IF OBJECT_ID(N'ThirdReport') IS NOT NULL
BEGIN
  DROP TABLE ThirdReport
END

------------------------------------------------------------------------------------------------------
--***資料交換的條件限制***
--1. 優先取得Production.dbo.DateInfo
declare @DateInfoName varchar(30) ='3Rd_Report';
declare @DateStart date= (select DateStart from Production.dbo.DateInfo where name = @DateInfoName);
declare @DateEnd date  = (select DateEnd   from Production.dbo.DateInfo where name = @DateInfoName);
declare @Remark nvarchar(max) = (select Remark from Production.dbo.DateInfo where name = @DateInfoName);

--2.取得預設值
if @DateStart is Null
	set @DateStart= CONVERT(DATE,DATEADD(day,-30,GETDATE()))
if @DateEnd is Null
	set @DateEnd = CONVERT(DATE, GETDATE())

--3.更新Pms_To_Trade.dbo.dateInfo
if exists(select 1 from Pms_To_Trade.dbo.dateInfo where Name = @DateInfoName )
	update Pms_To_Trade.dbo.dateInfo  set DateStart = @DateStart,DateEnd = @DateEnd, Remark=@Remark where Name = @DateInfoName 
else
	Insert into Pms_To_Trade.dbo.dateInfo(Name,DateStart,DateEnd,Remark)
	values (@DateInfoName,@DateStart,@DateEnd,@Remark);
------------------------------------------------------------------------------------------------------

--&& 撈P07 第三國收料
SELECT 
		Receiving.Id,
		Receiving. WhseArrival as CDate,
		Receiving_Detail. PoId as OrderId,
		Receiving_Detail.Seq1,
		Receiving_Detail.Seq2,
		Receiving.ETA,
		'' AS SuppID,
		Receiving.MDivisionID ,
		SUM(Receiving_Detail.StockQty) as Qty,
		Receiving_Detail. StockUnit as FtyUnit,
		0.00 as OrderQty,
		0 as OrderFOC,
		'' as OrderUnit,
		'' as [Over]
		, Receiving.FactoryID
INTO ThirdReport
FROM  Production.dbo.Receiving,  Production.dbo.Receiving_Detail
WHERE Receiving.id= Receiving_Detail.Id 
AND Receiving.Status='Confirmed' 
AND Receiving.TYPE = 'A' 
AND (
	Receiving.WhseArrival BETWEEN @DateStart AND  @DateEnd
OR	Convert(Date, Receiving.EditDate) BETWEEN @DateStart AND  @DateEnd 
)
AND  Receiving_Detail.PoId is not null
AND Receiving_Detail.seq1 IS NOT NULL 
AND Receiving_Detail.Seq2 IS NOT NULL
AND Receiving_Detail.StockQty <> 0
AND Receiving.THIRD = 1
group by Receiving.Id,
		Receiving.WhseArrival ,
		Receiving_Detail.PoId ,
		Receiving_Detail.Seq1,
		Receiving_Detail.Seq2,
		Receiving.ETA,Receiving.MDivisionID,
		Receiving_Detail.StockUnit
		, Receiving.FactoryID

--&& 撈 P23. B倉轉A倉 
MERGE ThirdReport AS T
USING (SELECT 	SubTransfer.Id,
		SubTransfer. IssueDate as CDate,	
		SubTransfer_Detail.ToPOID as OrderId,
		SubTransfer_Detail.ToSeq1 AS SEQ1,
		SubTransfer_Detail.ToSeq2 AS SEQ2,
		null as ETA, 
		'' as SuppID, 
		SubTransfer.MDivisionID,
	    SUM(SubTransfer_Detail.Qty) as Qty,
		Po_Supp_Detail.StockUnit  as FtyUnit,
		0.00 as OrderQty,
		0 as OrderFOC,
		'' as OrderUnit,
		'' as [Over]
		, SubTransfer.FactoryID
FROM  Production.dbo.SubTransfer,  Production.dbo.SubTransfer_Detail,  Production.dbo.Po_Supp_Detail
WHERE SubTransfer.id= SubTransfer_Detail.Id 
And SubTransfer_Detail.ToPOID =Po_Supp_Detail.ID and SubTransfer_Detail.ToSeq1=Po_Supp_Detail.seq1 and SubTransfer_Detail.ToSeq2= Po_Supp_Detail.Seq2
AND SubTransfer.Status='Confirmed'  And SubTransfer.type='B'
AND 
(SubTransfer.IssueDate  BETWEEN @DateStart AND  @DateEnd
OR Convert(Date, SubTransfer.EditDate) BETWEEN @DateStart AND  @DateEnd
) 
AND SubTransfer_Detail.ToPOID is not null 
AND SubTransfer_Detail.ToSeq1 is not null
AND SubTransfer_Detail.ToSeq2 is not null
AND SubTransfer_Detail.Qty <>0
GROUP by SubTransfer.Id,
		SubTransfer. IssueDate ,	
		SubTransfer_Detail.ToPOID ,
		SubTransfer_Detail.ToSeq1 ,
		SubTransfer_Detail.ToSeq2 ,
		SubTransfer.MDivisionID,
		Po_Supp_Detail.StockUnit
		, SubTransfer.FactoryID
) AS S
ON T.ID=S.ID AND T.SEQ1=S.SEQ1 AND T.SEQ2=S.SEQ2
WHEN NOT MATCHED BY TARGET THEN 
INSERT(ID,CDate,OrderID,Seq1,Seq2,ETA,SuppID,MDivisionID,Qty,FtyUnit,OrderQty,OrderFOC,OrderUnit,[Over], FactoryID)
VALUES(s.ID,s.CDate,s.OrderID,s.Seq1,s.Seq2,s.ETA,s.SuppID,s.MDivisionID,s.Qty,s.FtyUnit,s.OrderQty,s.OrderFOC,s.OrderUnit,s.[Over], s.FactoryID);

--&& 撈P18.Transfer In
MERGE ThirdReport AS T
USING (SELECT 	TransferIn.id,
		TransferIn. IssueDate as CDate,
		TransferIn_Detail.poid as OrderId,
		TransferIn_Detail.seq1,
		TransferIn_Detail .Seq2,
		null as ETA, 
		'' as SuppID, 
		TransferIn. MDivisionID,
		SUM(TransferIn_Detail.qty)  as Qty,
		Po_Supp_Detail.StockUnit as FtyUnit,
		0.00 as OrderQty,
		0 as OrderFOC,
		'' as OrderUnit,
		'' as [Over]
		, TransferIn.FactoryID
FROM  Production.dbo.TransferIn,  Production.dbo.TransferIn_Detail,  Production.dbo.Po_Supp_Detail
WHERE TransferIn.id=TransferIn_Detail.id 
And TransferIn_Detail.POID = Po_Supp_Detail.ID and TransferIn_Detail.seq1= Po_Supp_Detail.seq1 and TransferIn_Detail.seq2= Po_Supp_Detail.seq2
AND TransferIn.Status='Confirmed'
AND TransferIn. IssueDate  BETWEEN @DateStart AND  @DateEnd
AND TransferIn_Detail.poid is not null
AND TransferIn_Detail.seq1 is not null
AND TransferIn_Detail.seq2 is not null
AND TransferIn_Detail.Seq1 like'7%'
AND TransferIn_Detail.Qty <> 0
group by TransferIn.id,
		TransferIn. IssueDate ,
		TransferIn_Detail.poid ,
		TransferIn_Detail.seq1,
		TransferIn_Detail .Seq2,
		TransferIn. MDivisionID,
		Po_Supp_Detail.StockUnit
		, TransferIn.FactoryID
) AS S
ON T.ID=S.ID AND T.SEQ1=S.SEQ1 AND T.SEQ2=S.SEQ2
WHEN NOT MATCHED BY TARGET THEN 
INSERT(ID,CDate,OrderID,Seq1,Seq2,ETA,SuppID,MDivisionID,Qty,FtyUnit,OrderQty,OrderFOC,OrderUnit,[Over], FactoryID)
VALUES(s.ID,s.CDate,s.OrderID,s.Seq1,s.Seq2,s.ETA,s.SuppID,s.MDivisionID,s.Qty,s.FtyUnit,s.OrderQty,s.OrderFOC,s.OrderUnit,s.[Over], s.FactoryID);

--&& 撈P37.Return receiving
MERGE ThirdReport AS T
USING (SELECT    ReturnReceipt.id,
		ReturnReceipt.IssueDate as CDate,
		ReturnReceipt_Detail.POID as OrderId,
		ReturnReceipt_Detail .seq1,
		ReturnReceipt_Detail .Seq2,
		null as ETA, 
		'' as SuppID, 
		ReturnReceipt.MDivisionID,
		0 -SUM(ReturnReceipt_Detail.qty) as Qty,
		'' as FtyUnit,
		0.00 as OrderQty,
		0 as OrderFOC,
		'' as OrderUnit,
		'' as [Over]
		, ReturnReceipt.FactoryID
FROM Production.dbo.ReturnReceipt,  Production.dbo.ReturnReceipt_Detail	
WHERE ReturnReceipt.id=ReturnReceipt_Detail.id 
AND ReturnReceipt.Status='Confirmed' 
AND (ReturnReceipt.IssueDate BETWEEN @DateStart AND  @DateEnd OR Convert(Date, ReturnReceipt.EditDate)   BETWEEN @DateStart AND  @DateEnd)
AND ReturnReceipt_Detail.POID IS NOT NULL 
AND ReturnReceipt_Detail.seq1 IS NOT NULL
AND ReturnReceipt_Detail.seq2 IS NOT NULL
AND ReturnReceipt_Detail.Qty <> 0
group by ReturnReceipt.id,
		ReturnReceipt.IssueDate ,
		ReturnReceipt_Detail.POID ,
		ReturnReceipt_Detail.seq1,
		ReturnReceipt_Detail.Seq2,
		ReturnReceipt.MDivisionID
		, ReturnReceipt.FactoryID
) AS S
ON T.ID=S.ID AND T.SEQ1=S.SEQ1 AND T.SEQ2=S.SEQ2
WHEN NOT MATCHED BY TARGET THEN 
INSERT(ID,CDate,OrderID,Seq1,Seq2,ETA,SuppID,MDivisionID,Qty,FtyUnit,OrderQty,OrderFOC,OrderUnit,[Over], FactoryID)
VALUES(s.ID,s.CDate,s.OrderID,s.Seq1,s.Seq2,s.ETA,s.SuppID,s.MDivisionID,s.Qty,s.FtyUnit,s.OrderQty,s.OrderFOC,s.OrderUnit,s.[Over], s.FactoryID);


--&& 撈P19.Transfer Out
MERGE ThirdReport AS T
USING (SELECT TransferOut.id,
 TransferOut.IssueDate as CDate,
 TransferOut_Detail.poid as OrderId,
 TransferOut_Detail.seq1,
 TransferOut_Detail.Seq2,
 null as ETA, 
 '' as SuppID, 
 TransferOut.MDivisionID,
 0 - SUM(TransferOut_Detail.qty) as Qty,
 Po_Supp_Detail.StockUnit as FtyUnit,
 0.00 as OrderQty,
 0 as OrderFOC,
 '' as OrderUnit,
 '' as [Over]
 , TransferOut.FactoryID
FROM Production.dbo.TransferOut, Production.dbo.TransferOut_Detail, Production.dbo.Po_Supp_Detail
WHERE TransferOut.id=TransferOut_Detail.id 
And TransferOut_Detail.POID = Po_Supp_Detail.ID and TransferOut_Detail.seq1= Po_Supp_Detail.seq1 and TransferOut_Detail.seq2= Po_Supp_Detail.seq2
AND TransferOut.Status='Confirmed'
AND TransferOut. IssueDate BETWEEN @DateStart AND @DateEnd
AND TransferOut_Detail.poid is not null
AND TransferOut_Detail.seq1 is not null
AND TransferOut_Detail.seq2 is not null
AND TransferOut_Detail.Seq1 like'7%'
AND TransferOut_Detail.Qty <> 0
group by TransferOut.id,
 TransferOut.IssueDate ,
 TransferOut_Detail.poid ,
 TransferOut_Detail.seq1,
 TransferOut_Detail.Seq2,
 TransferOut.MDivisionID,
 Po_Supp_Detail.StockUnit
 ,TransferOut.FactoryID
) AS S
ON T.ID=S.ID AND T.SEQ1=S.SEQ1 AND T.SEQ2=S.SEQ2
WHEN NOT MATCHED BY TARGET THEN 
INSERT(ID,CDate,OrderID,Seq1,Seq2,ETA,SuppID,MDivisionID,Qty,FtyUnit,OrderQty,OrderFOC,OrderUnit,[Over], FactoryID)
VALUES(s.ID,s.CDate,s.OrderID,s.Seq1,s.Seq2,s.ETA,s.SuppID,s.MDivisionID,s.Qty,s.FtyUnit,s.OrderQty,s.OrderFOC,s.OrderUnit,s.[Over], s.FactoryID);


--修改欄位型態
alter table ThirdReport
alter column OrderQty numeric(9,2)
alter table ThirdReport
alter column OrderFOC numeric(8,1)
alter table ThirdReport
alter column OrderUnit varchar(8)
alter table ThirdReport
alter column [Over] varchar(1)
alter table ThirdReport
alter column SUPPID varchar(6)


-----UPDATE 
update ThirdReport
set ThirdReport.suppid = PO_Supp.SuppID
	, OrderQty = PO_Supp_Detail.Qty
	, OrderFOC = 0
	, OrderUnit = PO_Supp_Detail.POUnit
	, [Over] = IIF(MDivisionPoDetail.InQty >= PO_Supp_Detail.Qty, 'Y', 'N')
From Pms_To_Trade.dbo.ThirdReport 
INNER join Production.dbo.PO_Supp on ThirdReport.orderid = PO_Supp.id 
									 and ThirdReport.Seq1= PO_Supp.seq1
INNER join Production.dbo.PO_Supp_Detail on ThirdReport.orderid = PO_Supp_Detail.id 
											and ThirdReport.Seq1 = PO_Supp_Detail.seq1
											And ThirdReport.Seq2 =PO_Supp_Detail.seq2
inner join Production.dbo.MDivisionPoDetail on PO_Supp_Detail.ID = MDivisionPoDetail.PoId
											   and PO_Supp_Detail.Seq1 = MDivisionPoDetail.Seq1
											   and PO_Supp_Detail.Seq2 = MDivisionPoDetail.Seq2

------update QTY * unit.Rate-------
Update ThirdReport
Set Qty=ROUND(Qty * ISNULL(UnitRate.rate,0), 2)
From Pms_To_Trade.dbo.ThirdReport 
outer apply
(
select rate= [Production].[dbo].[getUnitRate](ThirdReport. FtyUnit,ThirdReport.OrderUnit) 
)as UnitRate
where UnitRate.rate is not null


-- Receiving  SubTransfer
MERGE Production.dbo.Receiving AS T
USING (select distinct id from ThirdReport) AS S 
ON T.ID=S.ID 
WHEN MATCHED AND T.Transfer2Taipei IS NULL THEN 
	UPDATE SET
T.Transfer2Taipei= CONVERT(date, GETDATE());

--&& 只在最後一筆壓結清

update Pms_To_Trade.dbo.ThirdReport
set [over]='N'
where [over]='Y'
and CDate=(select MAX(CDate) from ThirdReport)

END


