
-- =============================================
-- Author:		<Willy S01910>
-- Create date: <2016/08/21>
-- Description:	<import adicomp >
-- =============================================
Create PROCEDURE [dbo].[imp_Adicomp]
AS
BEGIN

	--------	-- 刪除Production.ADIDASComplain and ADIDASComplain_Detail 在Trade_To_PMS 裡沒有的資料 (根據StartDate判斷轉出月份Range) 

	--declare @DetPAD table (id varchar(13))
	declare @StartDate date = (select DateStart from Trade_To_Pms.dbo.DateInfo where name='ADIDASComplain')

	
	--以Trade DateInfo為條件,刪除Production有但Trade沒有的資料
	--EX: DateInfo.StartDate='20170601',只刪除Production.ADIDASComplain.StartDate>='20170601'不存在於台北轉來的資料,
	delete PAD1
	--output deleted.id into @DetPAD
	from Production.dbo.ADIDASComplain as PAD1
	INNER JOIN  
	(	select ID 
		from Production.dbo.ADIDASComplain as PAD1 WITH (NOLOCK)
		WHERE NOT EXISTS (SELECT 1 FROM Trade_To_Pms.dbo.ADIDASComplain WHERE ID =PAD1.ID)
		AND PAD1.StartDate IS NOT NULL
		AND PAD1.StartDate>=@StartDate
	)  S ON PAD1.ID=S.ID

	-- 刪除表頭剛剛刪除的ID資料
	--delete from Production.dbo.ADIDASComplain_Detail  where id in (select ID from @DetPAD)
	-- 刪除表頭資料
	
		--delete a 
		--from  Production.dbo.ADIDASComplain_Detail a
		--inner join Production.dbo.ADIDASComplain b on a.id=b.id
		--where b.StartDate is not null
		--and b.StartDate>=@StartDate
		--and not exists(select 1 from Trade_To_Pms.dbo.ADIDASComplain_Detail where ukey=a.ukey)

		delete ADIDASComplain_Detail
		where not exists(select 1 from ADIDASComplain where ADIDASComplain_Detail.id = ADIDASComplain.ID)


	------------AdidaComplain_History & AdidaComplain_Detail_History------------
	insert into Production.dbo.ADIDASComplain_History(
			ID
			,Version
			,StartDate
			,EndDate
			,AGCCode
			,FactoryName
			,Country
			,AddName
			,AddDate
			,EditName
			,EditDate
			,TPEApvName
			,TPEApvDate
			,FtyApvName
			,FtyApvDate)
		select	
		 adc.ID
		,(select isnull(max(version),0) + 1 from Production.dbo.ADIDASComplain_History where ID = adc.ID)
		,adc.StartDate
		,adc.EndDate
		,adc.AGCCode
		,adc.FactoryName
		,adc.Country
		,adc.AddName
		,adc.AddDate
		,adc.EditName
		,adc.EditDate
		,adc.TPEApvName
		,adc.TPEApvDate
		,adc.FtyApvName
		,adc.FtyApvDate
		from Production.dbo.ADIDASComplain adc with (nolock)
		inner join Trade_To_Pms.dbo.ADIDASComplain adcTrade on adc.ID = adcTrade.ID and adc.TPEApvDate <> adcTrade.TPEApvDate

	insert into Production.dbo.ADIDASComplain_Detail_History(
											UKEY
											,Version
											,ID
											,SalesID
											,SalesName
											,Article
											,ArticleName
											,ProductionDate
											,DefectMainID
											,DefectSubID
											,FOB
											,Qty
											,ValueinUSD
											,ValueINExRate
											,OrderID
											,RuleNo
											,BrandID
											,FactoryID
											,StyleID
											,SuppID
											,Refno
											,CustPONo
											,SeasonId
											,BulkMR
											,SampleMR
											,IsEM)
				select
						adch.UKEY
						,(select isnull(max(version),0) + 1 from Production.dbo.ADIDASComplain_Detail_History where Ukey = adch.Ukey)
						,adch.ID
						,adch.SalesID
						,adch.SalesName
						,adch.Article
						,adch.ArticleName
						,adch.ProductionDate
						,adch.DefectMainID
						,adch.DefectSubID
						,adch.FOB
						,adch.Qty
						,adch.ValueinUSD
						,adch.ValueINExRate
						,adch.OrderID
						,adch.RuleNo
						,adch.BrandID
						,adch.FactoryID
						,adch.StyleID
						,adch.SuppID
						,adch.Refno
						,adch.CustPONo
						,adch.SeasonId
						,adch.BulkMR
						,adch.SampleMR
						,adch.IsEM
				from Production.dbo.ADIDASComplain_Detail adch with (nolock)
				where exists(select 1 from Production.dbo.ADIDASComplain a
								inner join Trade_To_Pms.dbo.ADIDASComplain b on a.ID =b.ID and a.TPEApvDate <> b.TPEApvDate
								 where a.ID = adch.ID)

	-------------AdidaComplain-----------------------------------

	Merge Production.dbo.ADIDASComplain as t
	Using Trade_To_Pms.dbo.ADIDASComplain as s
	on t.id=s.id
	when matched and t.TPEApvDate <> s.TPEApvDate then 
		update set 
      t.StartDate	      =s.StartDate
      ,t.EndDate	      =s.EndDate
      ,t.AGCCode	      =s.AGCCode
      ,t.FactoryName	      =s.FactoryName
      ,t.Country	      =s.Country
      ,t.AddName	      =s.AddName
      ,t.AddDate	      =s.AddDate
      ,t.EditName	      =s.EditName
      ,t.EditDate	      =s.EditDate
	  ,t.TPEApvName	      =s.TPEApvName
	  ,t.TPEApvDate	      =s.TPEApvDate
	  ,t.FtyApvName	      =''
	  ,t.FtyApvDate	      =null
	when not matched by target then
	  insert ( ID,StartDate,EndDate,AGCCode,FactoryName,Country,AddName,AddDate,EditName,EditDate,TPEApvName,TPEApvDate)
	  values ( s.ID,s.StartDate,s.EndDate,s.AGCCode,s.FactoryName,s.Country,s.AddName,s.AddDate,s.EditName,s.EditDate,s.TPEApvName,s.TPEApvDate);

	  ------------AdidasComplain_Detail----------------------------------------

	  Merge  Production.dbo.ADIDASComplain_Detail as t
	  using Trade_To_Pms.dbo.ADIDASComplain_Detail as s
	  on  t.ukey=s.ukey
	  when Matched and exists(select 1 from Production.dbo.ADIDASComplain a
								inner join Trade_To_Pms.dbo.ADIDASComplain b on a.ID =b.ID and a.TPEApvDate <> b.TPEApvDate
								 where a.ID = t.ID) then 
	  update set
	  t.id = s.id
      ,t.SalesID=	      s.SalesID 
      ,t.SalesName=	      s.SalesName 
      ,t.Article=	      s.Article 
      ,t.ArticleName=	      s.ArticleName 
      ,t.ProductionDate=	      s.ProductionDate 
      ,t.DefectMainID=	      s.DefectMainID 
      ,t.DefectSubID=	      s.DefectSubID 
	  ,t.BrandID= s.BrandID
	  ,t.FactoryID= s.FactoryID
      ,t.FOB=	      s.FOB 
      ,t.Qty=	      s.Qty 
      ,t.ValueinUSD=	      s.ValueinUSD 
      ,t.ValueINExRate=	      s.ValueINExRate 
      ,t.OrderID=	      s.OrderID  
      ,t.RuleNo=	      s.RuleNo 
	  ,t.StyleID = s.StyleID
	  ,t.SuppID=s.SuppID
	  ,t.SeasonId=s.SeasonId
	  ,t.BulkMR=s.BulkMRHandle
	  ,t.SampleMR=s.SampleMRHandle
	  ,t.Refno=s.Refno
	  ,t.CustPONo=s.CustPONo
	  ,t.IsEM=s.IsEM
	  when not matched by Target then 
	  insert( ID 
      , SalesID 
      , SalesName 
      , Article 
      , ArticleName 
      , ProductionDate 
      , DefectMainID 
      , DefectSubID 
      , FOB 
      , Qty 
      , ValueinUSD 
      , ValueINExRate 
      , OrderID 
      , RuleNo 
      , UKEY
	  ,BrandID
	  ,FactoryID
	  ,StyleID
	  ,SuppID
	  ,SeasonId
	  ,BulkMR
	  ,SampleMR
	  ,Refno
	  ,CustPONo
	  ,IsEM
		)
		values( s.ID 
      ,s.SalesID 
      ,s.SalesName 
      ,s.Article 
      ,s.ArticleName 
      ,s.ProductionDate 
      ,s.DefectMainID 
      ,s.DefectSubID 
      ,s.FOB 
      ,s.Qty 
      ,s.ValueinUSD 
      ,s.ValueINExRate 
      ,s.OrderID 
      ,s.RuleNo 
      ,s.UKEY
	  ,s.BrandID
	  ,s.FactoryID 
	  ,s.StyleID
	  ,s.SuppID
	  ,s.SeasonId
	  ,s.BulkMRHandle
	  ,s.SampleMRHandle
	  ,s.Refno
	  ,s.CustPONo
	  ,s.IsEM
);
	

	-------------------insert ADIDASComplainDefect---------------

	insert into Production.dbo.ADIDASComplainDefect(id,name,addname,AddDate,EditDate,EditName)
	select id,name,addname,AddDate,EditDate,EditName
	from Trade_To_Pms.dbo.ADIDASComplainDefect  as a WITH (NOLOCK)
	where not exists(select * from Production.dbo.ADIDASComplainDefect b WITH (NOLOCK) where a.ID=b.ID)
	
	------------------insert ADIDASComplainDefect_Detail---------------

	insert into Production.dbo.ADIDASComplainDefect_Detail(id,SubID,SubName)
	select id,SubID,SubName
	from Trade_To_Pms.dbo.ADIDASComplainDefect_Detail  as a WITH (NOLOCK)
	where not exists(select * from Production.dbo.ADIDASComplainDefect_Detail b WITH (NOLOCK) where a.ID=b.ID and a.SubID=b.SubID)

	------------------ADIDASComplainTarget--------------------------------

	Merge Production.dbo.ADIDASComplainTarget as t
	using Trade_To_Pms.dbo.ADIDASComplainTarget as s
	on t.year=s.year
	when matched then 
		update set
	   t.[Target] = s.[Target]
      ,t.[AddName]= s.[AddName]
      ,t.[AddDate]= s.[AddDate]
      ,t.[EditName]= s.[EditName]
      ,t.[EditDate] = s.[EditDate]
	when not matched by Target then 
		insert ([Year]
      ,[Target]
      ,[AddName]
      ,[AddDate]
      ,[EditName]
      ,[EditDate])
	  values(
	  s.[Year]
      ,s.[Target]
      ,s.[AddName]
      ,s.[AddDate]
      ,s.[EditName]
      ,s.[EditDate]
	  )
	  when not matched by source then
	  delete;
	  
	  -----------------------MonthlyQty-----------------------

	  Merge Production.dbo.ADIDASComplain_MonthlyQty as t
	  using  Trade_To_Pms.dbo.ADIDASComplain_MonthlyQty as s
	  on t.YearMonth=s.YearMonth and t.FactoryID=s.FactoryID and t.Brandid=s.brandid
		when not matched by target then 
		insert(yearmonth,factoryid,brandid,qty,addname,adddate)
		values(s.yearmonth,s.factoryid,s.brandid,s.qty,s.addname,s.adddate);
	 ------------------insert ADIDASKPITARGET---------------

	 Merge  Production.dbo.ADIDASKPITARGET as t
	  using Trade_To_Pms.dbo.ADIDASKPITARGET as s
	  on  t.KPIItem=s.KPIItem
	  when Matched then 
	  update set
       t.XlsColumn   = s.XlsColumn   
	  ,t.Description = s.Description	
	  ,t.Target		 = s.Target		
	  ,t.AddName	 = s.AddName		
	  ,t.AddDate	 = s.AddDate		
	  ,t.EditName	 = s.EditName	
	  ,t.EditDate	 = s.EditDate	
	  when not matched by Target then 
	  insert( KPIItem,XlsColumn,Description,Target,AddName,AddDate,EditName,EditDate)
		values( s.KPIItem,s.XlsColumn,s.Description,s.Target,s.AddName,s.AddDate,s.EditName,s.EditDate)
	when not matched by source and t.KPIItem in (select KPIItem from Trade_To_Pms.dbo.ADIDASKPITARGET WITH (NOLOCK))then
	delete;
END

