<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="sci" type="Sci.CfgSection, Sci"/>
  </configSections>

  <sci>
    <modules>
      <add name="bin">
        <connectionStrings>
          <add name="PBIReportData" connectionString="Data Source=PMSDB\POWERBI;Initial Catalog=PBIReportData;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="Production" connectionString="Data Source=testing\ph1;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299" />
        </connectionStrings>
      </add>
      <add name="x86">
        <connectionStrings>
          <add name="PBIReportData" connectionString="Data Source=PMSDB\POWERBI;Initial Catalog=PBIReportData;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="Production" connectionString="Data Source=testing\ph1;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299" />
        </connectionStrings>
      </add>
      <add name="TSR_Formal">
        <connectionStrings>
          <add name="PBIReportData" connectionString="Data Source=PMSDB\POWERBI;Initial Catalog=PBIReportData;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="Production" connectionString="Data Source=testing\ph1;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299" />
        </connectionStrings>
      </add>
    </modules>
  </sci>

  <appSettings>
    <add key="module" value="Production"/>
    <add key="codepage" value="000"/>
    <add key="enabledbconnectionselection" value="true"/>

    <add key="fontname" value="Tahoma"/>
    <add key="fontsize" value="10"/>

    <add key="help" value="D:\TRADE.chm"/>
    <add key="clipdir" value="D:\CLIP"/>
    <add key="reporttempdir" value=".\TMP\"/>
    <add key="xltpathdir" value=".\XLT\"/>

    <add key="mailfrom" value=""/>
    <add key="mailserver_ip" value="Mail.sportscity.com.tw"/>
    <add key="mailserver_port" value="25"/>
    <add key="mailserver_account" value="foxpro"/>
    <add key="mailserver_password" value="orpxof"/>
    <add key="helpmailaddress" value=""/>

    <add key="ftpserver_ip" value="ftp.sportscity.com.tw"/>
    <add key="ftpserver_account" value="NEWPMS2016"/>
    <add key="ftpserver_password" value="newpms-data"/>
    <add key="DataSourcePath" value="E:\"/>

    <add key="rarexefile" value="C:\Program Files\WinRAR\WinRar.exe"/>
    <add key="RetryTimes" value="5"/>
    <add key="datestringformat" value="MM/dd/yyyy"/>
    <add key="datetimestringformat" value="MM/dd/yyyy HH:mm:ss"/>

    <add key="TestBool" value="false"/>
    <add key="TestMailTO" value="Willy.Wei@sportscity.com.tw;"/>
    <add key="MailTO" value="PMS-TPEMIS@sportscity.com.tw;"/>
    <add key="MailSubject" value="PowerBI daily;"/>
    <add key="MailContent" value="PowerBI daily test;"/>

  </appSettings>
</configuration>
