<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sci.Production.Shipping.Properties.Settings.ProductionConnectionString"
            connectionString="Data Source=J1-7573A;Initial Catalog=Production;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>