<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="sci" type="Sci.CfgSection, Sci"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="InstallProgram.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>

  <sci>
    <modules>
      <add name="bin">
        <connectionStrings>
          <add name="PMSDB_PH1" connectionString="Data Source=PMSDB\PH1;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="PMSDB_PH2" connectionString="Data Source=PMSDB\PH2;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="PMSDB_ESP" connectionString="Data Source=PMSDB\ESP;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="PMSDB_SPT" connectionString="Data Source=PMSDB\SPT;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="PMSDB_SPS" connectionString="Data Source=PMSDB\SPS;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="PMSDB_SPR" connectionString="Data Source=PMSDB\SPR;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="PMSDB_HZG" connectionString="Data Source=PMSDB\HZG;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="PMSDB_HXG" connectionString="Data Source=PMSDB\HXG;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="PMSDB_SNP" connectionString="Data Source=PMSDB\SNP;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="PMSDB_NAI" connectionString="Data Source=PMSDB\NAI;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="PMSDB_TSR" connectionString="Data Source=tradedb\TSR;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="MIS" connectionString="Data Source=EDIAP\EDI;Initial Catalog=IssueTracking;Persist Security Info=True;User ID=GasaSA;Password=1qaz@WSX"/>
          <add name="Trade" connectionString="Data Source=tradedb;Initial Catalog=Trade;Persist Security Info=True;User ID=scimis;Password=27128299" />
        </connectionStrings>
      </add>
      <add name="TSR_Formal">
        <connectionStrings>
          <add name="PMSDB_PH1" connectionString="Data Source=PMSDB\PH1;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="PMSDB_PH2" connectionString="Data Source=PMSDB\PH2;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="PMSDB_ESP" connectionString="Data Source=PMSDB\ESP;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="PMSDB_SPT" connectionString="Data Source=PMSDB\SPT;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="PMSDB_SPS" connectionString="Data Source=PMSDB\SPS;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="PMSDB_SPR" connectionString="Data Source=PMSDB\SPR;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="PMSDB_HZG" connectionString="Data Source=PMSDB\HZG;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="PMSDB_HXG" connectionString="Data Source=PMSDB\HXG;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="PMSDB_SNP" connectionString="Data Source=PMSDB\SNP;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="PMSDB_NAI" connectionString="Data Source=PMSDB\NAI;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="PMSDB_TSR" connectionString="Data Source=tradedb\TSR;Initial Catalog=Production;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="MIS" connectionString="Data Source=EDIAP\EDI;Initial Catalog=IssueTracking;Persist Security Info=True;User ID=GasaSA;Password=1qaz@WSX"/>
          <add name="Trade" connectionString="Data Source=tradedb;Initial Catalog=Trade;Persist Security Info=True;User ID=scimis;Password=27128299" />
        </connectionStrings>
      </add>
    </modules>
  </sci>
  <appSettings>
    <add key="module" value="PMSDB_TSR" />
    <add key="fontname" value="Tahoma" />
    <add key="fontsize" value="10" />
    <add key="clipdir" value="D:\CLIP" />
    <add key="reporttempdir" value=".\TMP\" />
    <add key="xltpathdir" value=".\XLT\" />
    <add key="FactoryList" value="PH1;PH2;ESP;SNP;SPT;SPS;SPR:HXG;HZG;NAI;TSR;" />
    <add key="SettingFactoryList" value="PMSDB_PH1;PMSDB_PH2;PMSDB_ESP;PMSDB_SNP;PMSDB_SPT;PMSDB_SPS;PMSDB_SPR;PMSDB_HXG;PMSDB_HZG;" />
    <add key="MailList" value="sasa.chang@sportscity.com.ph; monalisa.enicuela@sportscity.com.ph; john.rivera@sportscity.com.ph; marjory.casinillo@sportscity.com.ph; team3@sportscity.com.tw; es3.ie1@esprintavn.com; thoi.nguyen@esprintavn.com; joydel.matidios@sportscity.com.kh; peggy.sun@sportscity.com.cn; sean.chuang@esprintavn.com; roger.chen@sportscity.com.cn; nina.lin@sportscity.com.ph; sally.liu@esprintavn.com;stella.ho@sportscity.com.tw;"/>
    <!--<add key="MailList" value="willy.wei@sportscity.com.tw;"/>-->
    <!--<add key="MailListCC" value="willy.wei@sportscity.com.tw;"/>-->
    <add key="MailListCC" value="jack.hsu@sportscity.com.tw;willy.wei@sportscity.com.tw;"/>    
  </appSettings>
</configuration>