<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="RFIDServerName" value="172.28.48.67"/>
    <add key="RFIDDatabaseName" value="middleware"/>
    <add key="RFIDTable" value="rfid_bundle"/>
    <add key="RFIDLoginId" value="sa"/>
    <add key="RFIDLoginPwd" value="tpim!5sc!m12"/>
    
    <add key="reporttempdir" value=".\TMP\"/>
    <add key="xltpathdir" value=".\XLT\"/>
  </appSettings>
</configuration>
