<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="sci" type="Sci.CfgSection, Sci" />
  </configSections>

  <sci>
    <modules>
      <add name="bin">
        <connectionStrings>
          <add name="testDB" connectionString="Data Source=tradedb;Initial Catalog=Trade;Persist Security Info=True;User ID=scimis;Password=27128299" />
          <add name="local" connectionString="Data Source=localhost;Initial Catalog=TRADE;Persist Security Info=True;User ID=sa;Password=123456;" />
          <add name="Query" connectionString="Data Source=testDB;Initial Catalog=TRADE;Persist Security Info=True;User ID=sa;Password=123456;Connection Timeout=600" />
          <add name="FMS" connectionString="Data Source=testDB;Initial Catalog=Finance;Persist Security Info=True;User ID=sa;Password=123456;Connection Timeout=600" />

          <add name="sci2" connectionString="Data Source=J1-7714A;Initial Catalog=SCI2;Persist Security Info=True;User ID=sa;Password=123456" />
          <add name="db1" connectionString="Data Source=localhost\SQL2012EXP;Initial Catalog=SC-DB-1;Persist Security Info=True;User ID=sa;Password=123456" />
        </connectionStrings>
      </add>
      <add name="Trade">
        <connectionStrings>
          <add name="testDB" connectionString="Data Source=testDB;Initial Catalog=TRADE;Persist Security Info=True;User ID=sa;Password=123456" />
          <add name="local" connectionString="Data Source=localhost;Initial Catalog=TRADE;Persist Security Info=True;User ID=sa;Password=123456" />
          <add name="Query" connectionString="Data Source=testDB;Initial Catalog=TRADE;Persist Security Info=True;User ID=sa;Password=123456;Connection Timeout=600" />
          <add name="FMS" connectionString="Data Source=testDB;Initial Catalog=Finance;Persist Security Info=True;User ID=sa;Password=123456;Connection Timeout=600" />
          <add name="sci2" connectionString="Data Source=J1-7714A;Initial Catalog=SCI2;Persist Security Info=True;User ID=sa;Password=123456" />
          <add name="db1" connectionString="Data Source=localhost\SQL2012EXP;Initial Catalog=SC-DB-1;Persist Security Info=True;User ID=sa;Password=123456" />
        </connectionStrings>
      </add>
      <add name="Formal">
        <connectionStrings>
          <add name="testDB" connectionString="Data Source=testDB;Initial Catalog=TRADE;Persist Security Info=True;User ID=sa;Password=123456" />
          <add name="Query" connectionString="Data Source=testDB;Initial Catalog=TRADE;Persist Security Info=True;User ID=sa;Password=123456;Connection Timeout=600" />
          <add name="local" connectionString="Data Source=localhost;Initial Catalog=TRADE;Persist Security Info=True;User ID=sa;Password=123456" />

          <add name="sci2" connectionString="Data Source=J1-7714A;Initial Catalog=SCI2;Persist Security Info=True;User ID=sa;Password=123456" />
          <add name="db1" connectionString="Data Source=localhost\SQL2012EXP;Initial Catalog=SC-DB-1;Persist Security Info=True;User ID=sa;Password=123456" />
        </connectionStrings>
      </add>
      <!--
      <add name="Formal">
        <connectionStrings>
          <add name="Trade" connectionString="Data Source=j1-7714a;Initial Catalog=SCI;Persist Security Info=True;User ID=sa;Password=123456"/>
          <add name="PMS" connectionString="Data Source=172.17.1.124;Initial Catalog=Production;Persist Security Info=True;User ID=sa;Password=123456" />
          <add name="Production" connectionString="Data Source=localhost\SQL2012EXP;Initial Catalog=SC-DB-1;Persist Security Info=True;User ID=sa;Password=123456"/>
        </connectionStrings>
      </add>
  -->
    </modules>
  </sci>

  <appSettings>
    <add key="module" value="TRADE" />
    <add key="codepage" value="950" />
    <add key="fontname" value="Tahoma" />
    <add key="fontsize" value="10" />
    <add key="help" value="D:\TRADE.chm" />
    <add key="clipdir" value="D:\CLIP" />
    <add key="mailfrom" value="" />
    <add key="mailserver_ip" value="Mail.sportscity.com.tw" />
    <add key="mailserver_port" value="" />
    <add key="mailserver_account" value="foxpro" />
    <add key="mailserver_password" value="orpxof" />
    <add key="helpmailaddress" value="" />
    <add key="ftpserver_ip" value="127.0.0.1" />
	<add key="ftpserver_port" value="21" />
    <add key="ftpserver_account" value="ming" />
    <add key="ftpserver_password" value="0000" />
    <add key="closedate" value="2014/11/6" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <add key="reporttempdir" value="D:\System2014\trade\trunk\TempDir\" />
    <add key="rarexefile" value="C:\Program Files\WinRAR\WinRar.exe" />
    <add key="xltpathdir" value="..\XLT" />

    
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup>

  <system.transactions>
    <defaultSettings timeout="00:03:00" />
  </system.transactions>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.ReportViewer.WinForms" publicKeyToken="89845dcd8080cc91" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
